body { 
    font: 14px/1.85em 'Open Sans', Arial, Helvetice Neue, sans-serif; 
	color: #888888; 
    font-weight: 300;
    font-style: normal;
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */ -webkit-text-size-adjust: 100%; 
    margin:0px;
	padding:0px;
	}
	
.header{
	width:100%;
	margin:0 auto;
	padding:0px;
	height:4em;
	background-color:#3cb04a;
}
.logo{
	display:block;
	line-height:2em;
    font-size:2em;
    color:white;
    margin-left:1em;	
}

#primary{
	float:left;
	width:90%;
}
/* 最新动态 */
#zh-home-list-title{
	font-size:14px;
	color:#666;
	font-weight:700;
}
.zg-section{
	margin:0 0 10px;
	display:block;
	border-bottom:1px solid #ccc;
}
.zg-icon-feedlist{
	width: 16px;
    height: 16px;
    vertical-align: -4px;
    margin-right: 5px;
    background-position: -71px -88px;
	
}
.zg-icon{
	background-image:url(http://static.zhihu.com/static/img/sprites-1.9.2.png);
    background-repeat: no-repeat;
    display: inline-block;
	}
.zg-section input{
	line-height: 1.7;
    font-size: 13px;
    padding: 0;
    margin: 0;
    color: #222;
    word-wrap: break-word;
	background-color: white;
}	
.zg-noti-cleaner-setting{
	font-weight:400;
	font-size:13px;
}
.zg-right{
	float:right;
}
/*      end  */
.post{
	width:90%;
	margin:0 auto;
	margin-bottom:10px;
	padding-bottom:5px;
	border-bottom:1px solid #ededed;
	
	margin-top:5px;
}

#post-last{
	padding:0px;
	width:90%;
	margin:0 auto;
	border:none;
}
#post-4996{
	margin-top:1.5em;
}
.post-title{
	height:16px;
	font-size:10px;
	line-height:16px;
}
.post-title a:link{
	color:#444;
}
.post-title a:hover{
	 color:#5895be;
}
.post-meta a{
	color:#777;
}
.post-meta{
	padding-bottom:2px;
}
.post-meta
.inline-ul{
	display:block;
}
.inline-ul li{
	list-style:none;
}
.inline-li{
	font-size:8px;
	vertical-align:top;
	word-spacing:normal;
	letter-spacing:normal;
	display:inline-block;
}
@font-face {
	font-family: 'icomoon-wpzan';
	src:url('../fonts/icomoon.eot?2m78e6');
	src:url('../fonts/icomoon.eot?#iefix2m78e6') format('embedded-opentype'),
		url('../fonts/icomoon.woff?2m78e6') format('woff'),
		url('../fonts/icomoon.ttf?2m78e6') format('truetype'),
		url('../fonts/icomoon.svg?2m78e6#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}


.post-body{
	position:relative;
	overflow:hidden;
	width:100%;
	margin:0 auto;
}
.post-thumbnail{
	position: absolute;
    top: 0;
    left: 0;
}
@media only screen and (max-width: 1400px) {
	.post-body{
	    width:100%;
		height:130px;
	}
}
@media only screen and (max-width: 825px) {
	.post-body{

		height:130px;
	}
}

@media only screen and (max-width: 535px) {	
	.post-body{
		
		height:100px;
	}

}

@media only screen and (max-width: 410px) {
	.post-body{
		
		height:80px;
	}
}

@media only screen and (max-width: 825px) {
	.post-thumbnail{
		height:130px;
	}
}

@media only screen and (max-width: 535px) {
	
	.post-thumbnail{
		width:60px;
		height:60px;
	}

}

@media only screen and (max-width: 410px) {
	.post-thumbnail{
		height:80px;
	}
}
.post-content{
	margin-left:150px;
	font-size:0.6em;
}
.post-comment p{
    line-height: 1;
    word-break: break-all;
	
}
@media only screen and (max-width: 825px) {
	.post-thumbnail{
		height:130px;
	}
}

@media only screen and (max-width: 535px) {
	
	.post-thumbnail{
		width:60px;
		height:60px;
	}

}

@media only screen and (max-width: 410px) {
	.post-thumbnail{
		height:80px;
	}
}
/*  content结束*/
/* article开始 */
.con .post-meta{
	border-bottom:1px solid #ededed;
	margin-bottom:5px;
	
}
.footer{
	width:100%;
	margin:0 auto;
	height:3.6em;
	color:white;
	text-align:center;
	background-color:#3cb04a;
	padding:0px;
	margin:0px;
}
.footer p{
	font-size:1em;
}