*{
	margin:0;
	padding:0;
}
body{
	background-color:white;
	color:#444;
	font: normal 14px Helvetica,Arial,sans-serif;
}
#header{
	background-color:#fafafa;
	z-index:90;
	position:relative;
	padding:20px 0;
   	border-bottom:1px solid #ededed;
	height:31px;
}
.container{
	margin:0 auto;
	width:960px;
	height:30px;
	line-height:30px;
}
.clearfix{
	zoom:1;
}
.logo{
	display:block;
	float:left;
	width:115px;
	height:30px;
	padding-right:50px;
}
h2{
	clear:both;
	font-weight:bold;
}
a{
	outline:0;
    color:#666;
	text-decoration:none;
	cursor:auto;
}
a:hover{
	color:#5895be;	
}
.left{
	float:left;
}
.global-nav .gnul{
	display:block;
	width:450px;
	height:30px;
}
.gnul{
	list-style:none;	
}
.gnli{
	display:inline-block;
	margin-right:20px;
	zoom:1;

	height:30px;	
}
.gna{
	display:block;
	height:30px;
	outline:medium none;
	color:#666;
	text-decoration:none;
	font-size:14px;
}
.current a{
	color:#5895be;
	
}
.gna:hover{
	color:#5895be;
}
.global-nav ul li a span {
	margin-right:10px;
	border:1px solid #e4e4e4;
	
}
.icon-play {
	text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-family: 'icomoon';
    line-height: 1;
    speak: none;
	background-image:url(img/movie.png);
}
.search-form{
	position:relative;
	float:right;
	padding-right:35px;
	border:1px solid #e5e5e5;
	background:#fff;
	width:223px;
	height:30px;
}
.search-input{
	
	width:223px;
	height:25px;	
	outline:0;
	border:0;
	background:#fff;
	margin-top:2.5px;
}
.search-submit{
	position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 30px;
    border: 0;
    background: #fff;
    cursor: pointer;
}
.search-submit img:hover{
 color:#5895be;
}
.icon-sreach{
	text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-family: 'icomoon';
    line-height: 1;
    speak: none;
}	
/*        context      */
#content
.container{
	padding-top:20px;
	padding-bottom:40px;

}
#primary{
	float:left;
	width:640px;
	min-height:400px;
}
/* 最新动态 */
#zh-home-list-title{
	font-size:14px;
	color:#666;
	font-weight:700;
}
.zg-section{
	margin:0 0 10px;
	display:block;
	border-bottom:1px solid #ccc;
}
.zg-icon-feedlist{
	width: 16px;
    height: 16px;
    vertical-align: -4px;
    margin-right: 5px;
    background-position: -71px -88px;
	
}
.zg-icon{
	background-image:url(http://static.zhihu.com/static/img/sprites-1.9.2.png);
    background-repeat: no-repeat;
    display: inline-block;
	}
.zg-section input{
	line-height: 1.7;
    font-size: 13px;
    padding: 0;
    margin: 0;
    color: #222;
    word-wrap: break-word;
	background-color: white;
}	
.zg-noti-cleaner-setting{
	font-weight:400;
	font-size:13px;
}
.zg-right{
	float:right;
}
/*      end  */
.post{
	margin-bottom:30px;
	padding-bottom:15px;
	border-bottom:1px solid #ededed;
}
.post-title{
	height:24px;
	font-size:18px;
	line-height:24px;
}
.post-title a:link{
	color:#444;
}
.post-title a:hover{
	 color:#5895be;
}
.post-meta a{
	color:#777;
}
.post-meta{
	padding-bottom:20px;
}
.post-meta
.inline-ul{
	display:block;
}
.inline-ul li{
	list-style:none;
}
.inline-li{
	font-size:12px;
	vertical-align:top;
	word-spacing:normal;
	letter-spacing:normal;
	display:inline-block;
}
@font-face {
	font-family: 'icomoon-wpzan';
	src:url('../fonts/icomoon.eot?2m78e6');
	src:url('../fonts/icomoon.eot?#iefix2m78e6') format('embedded-opentype'),
		url('../fonts/icomoon.woff?2m78e6') format('woff'),
		url('../fonts/icomoon.ttf?2m78e6') format('truetype'),
		url('../fonts/icomoon.svg?2m78e6#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon-wpzan{
	font-family: 'icomoon-wpzan';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	vertical-align: text-bottom;
}

.icon-wpzan:before {
	content: "\e125";
}

.wp-zan.zan-loader .icon-wpzan{
	padding:0 7px \9;
}

.wp-zan.zan-loader .icon-wpzan:before{
	display: none\9;
}

.wp-zan.zan-loader .icon-wpzan:before {
	content: "\e031";
	-webkit-animation:1s linear 0s normal none infinite rotate;
	-moz-animation: 1s linear 0s normal none infinite rotate;
	-ms-animation: 1s linear 0s normal none infinite rotate;
	-o-animation: 1s linear 0s normal none infinite rotate;
	animation: 1s linear 0s normal none infinite rotate;
}

.wp-zan{
	color: #999;
	text-decoration: none;
}

.wp-zan .icon-wpzan{
	width:12px;
    height: 12px;
    vertical-align: -4px;
    margin-right: 5px;
    background-position: -181px -50px;
	
}
.zg-icon{
	background-image:url(http://static.zhihu.com/static/img/sprites-1.9.2.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.wp-zan:hover,
.wp-zan.zaned{
	color: #8AC78F;
}

.wp-zan.zaned .icon-wpzan{
	-webkit-animation: waver 0.3s linear 1;
	-moz-animation: waver 0.3s linear 1;
	-o-animation: waver 0.3s linear 1;
	animation: waver 0.3s linear 1;
}

@keyframes waver
{
	0 {transform: scale(1, 1)}
	50% {transform: scale(1.5, 1.5)}
	100%{transform: scale(1, 1)}
}

@-moz-keyframes waver /* Firefox */
{
	0 {-moz-transform: scale(1, 1)}
	50% {-moz-transform: scale(1.5, 1.5)}
	100%{-moz-transform: scale(1, 1)}
}

@-webkit-keyframes waver /* Safari 和 Chrome */
{
	0 {-webkit-transform: scale(1, 1)}
	50% {-webkit-transform: scale(1.5, 1.5)}
	100%{-webkit-transform: scale(1, 1)}
}

@-o-keyframes waver /* Opera */
{
	0 {-o-transform: scale(1, 1)}
	50% {-o-transform: scale(1.5, 1.5)}
	100%{-o-transform: scale(1, 1)}
}

@-webkit-keyframes rotate{
	from{-webkit-transform:rotate(0deg)}
	to{-webkit-transform:rotate(360deg)}
}
@-moz-keyframes rotate{
	from{-moz-transform:rotate(0deg)}
	to{-moz-transform:rotate(360deg)}
}
@-ms-keyframes rotate{
	from{-ms-transform:rotate(0deg)}
	to{-ms-transform:rotate(360deg)}
}
@-o-keyframes rotate{
	from{-o-transform:rotate(0deg)}
	to{-o-transform:rotate(360deg)}
}
@keyframes rotate{
	from{transform:rotate(0deg)}
	to{transform:rotate(360deg)}
}
.post-body{
	position:relative;
	overflow:hidden;
	
}
.post-thumbnail{
	position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    width: 130px;
    height: 130px;
    border: 1px solid #DDD;
}
.post-content{
	width:475px;
	margin-left:165px;
}
.post-comment p{
	margin: 0 0 12px;
    line-height: 1.8;
    word-break: break-all;
	
}
/*  content结束*/

/*页码标记 */
#pagenavi{
	color:#4a4a4a;
	list-style:none;
	line-height:24px;
}
#load-more{
	border:1px solid #bbb;
	display:block;
	margin:20px 0;
	padding:5px 1px; 
	background:#f1f1f2;
	text-align:center;
}
#load-more a{
color:#666666;
}
/* 右侧导航*/
#sidebar{
	float:right;
	padding-left:50px;
	width:270px;
	
}

.zh-shameimaru-7f8cdd12a {
    display: block;
    margin-bottom: 20px;
    position: relative;
}
.zh-shameimaru-7f8cdd12a .shameimaru-link {
    display: block;
    background: url("http://pic4.zhimg.com/7f6b9c165fa18ded00b704aa282e46fd.png") no-repeat;
    width: 270px;
    height: 150px;
}
.zh-shameimaru-7f8cdd12a .shameimaru-close {
    display: none;
    position: absolute;
    right: 4px;
    top: 4px;
    text-indent: -9999px;
    opacity: .7;
}
.zh-shameimaru-7f8cdd12a .shameimaru-close:hover {
    opacity: .9;
}
.zh-shameimaru-7f8cdd12a:hover .shameimaru-close {
    display: block;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    .zh-shameimaru-7f8cdd12a .shameimaru-link {
        background: url("http://pic4.zhimg.com/c3aa116d14e956ad753cde416aa80ba7.png");
        background-size: 270px 150px;
    }
}

li{
	vertical-align:top;
	word-spacing:normal;
	letter-spacing:normal;
	display:inline-block;
}
.widget{
	margin-bottom:10px;
	word-wrap:break-word;
	width:270px;
}
.widget h3{
	color:#636363;
	text-transform:uppercase;
	font-size:14px;
	line-height:1.5em;
	padding-bottom:9px;
	border-bottom:1px solid #ccc;
}
.widget ul.list {
	padding:10px 0 10px 0px;
}
.list li{
	width:270px;

	line-height:1.846153846;
}
.list li a{
	font-size:14px;
	margin-right:15px;
}
.list li span {
	font-size:12px;
	color:#999;
}
.widget-popular ul li{
	min-height:30px;
	width:270px;
	list-style:square;
}
.widget-popular ul li span{
	float:right;
	display:block;	
}
.widget-links ul li{
	display:inline-block;
	margin-right:10px;
	margin-bottom:5px;
	font-size:13px;
	
   
}
.zg-wrap ul li:first-child{
	list-style:none;
	 
}
.widget-links{
	border-bottom:1px solid #cc;
}
li a {
	color:#666666;
}
#zh-footer{
	margin-top:10px;
	text-align:left;
	color:#999;
	border-top:1px solid #ccc;	
}
.zg-wrap{
	padding:10px 0;
}
.zg-wrap li:before{
	margin-left:3px;
	content:'•';
	color:#BBB;
	font-family:Arial;
}
.zg-footer li{display:inline;}
.zg-wrap a{
	font-size:13px;
	color:#999;
	margin-left:3px;
}
.zg-wrap-f:before{
	margin-left:3px;
	content:' ';
	color:#BBB;
	font-family:Arial;
	
}
/* 返回顶部*/

.zh-backtotop{
	position:fixed;
	bottom:100px;
	z-index:19;
	margin-left:690px;
	display:block;
}
.zh-backtotop .btn-action{
	display:block;
	width:38px;
	height:38px;
	background-color:#ddd;
	border-radius:3px;
	cursor:pointer;
	position:relative;
}
.zh-backtotop .arrow{
	width:0;
	height:0;
	top:-1px;
	border:9px solid transparent;
	border-bottom-color:#aaa;
	
}
.zh-backtotop div{
	position:absolute;
	right:0;
	left:0;
	margin:auto;
}
.zh-backtotop .stick{
	width:8px;
	height:14px;
	top:15px;
	border-radius:1px;
	background-color:#aaa;
	
}
.tooltip.right .tooltip-arrow{
	top:50%;
	left:-3px;
	margin-top:-8px;
	border-top:8px solid transparent;
	border-bottom:8px solid transparent;
	border-right:8px solid #000;
	border-right-color:rgba(0,0,0,0.75)
	
}
.tooltip-arrow{
	position:absolute;
}
.tooltip .content-prewrap{
	white-space:pre-wrap;
}
.tooltip .tooltip-inner{
	max-width:300px;
	padding:3px 8px;
	color:#fff;
	text-align:center;
	text-decoration:none;
	background-color:rgba(0,0,0,.75)
	border-radius:4px;
}
/* 书籍推荐 */
.tab-item{
	width:640px;
	
}
.tab-item ul{
list-style:none;
display:line-block;

}
.f-cb li{
	width:200px;
	height:250px;
	font-size:10px;
	text-align:center;
}
.f-cb li img{
	width:180px;
	height:180px;
	
}
.f-cb li a:hover{
	text-decoration:underline;
}
.book-right{
	margin-bottom:10px;
	word-wrap:break-word;
}
.book-right h3{
	color:#636363;
	text-transform:uppercase;
	font-size:14px;
	line-height:1.5em;
	padding-bottom:9px;
	border-bottom:1px solid #ccc;
}
.book-right ul {
	padding:10px 0 10px 0px;
}
.book-right ul li{
	width:270px;
	line-height:1.846153846;
	margin-bottom:10px;
	font-size:12px;
}
.book-right ul li i {
	margin-right:10px;
}
.book-right ul li i a+a:hover{
	color:white;
}
 .xiazai {
	 border-radius:3px;
	background-color:#2fad85;
	padding:0px 8px;
	color:white;
	text-shadow:#188062 0 1px 0;
	float:right;
}
#goTop{
            display:none;
            position:fixed;
            bottom:20px;
            width:34px;
            height:34px;
            cursor:pointer;
            right:20px;
        }