html{height:100%}
body{height:100%;margin:0px;padding:0px}
.navbar{
  margin-bottom: 0;
}
#map{
  width:100%!important;
  height:100%;
  position: absolute!important;
  /*margin-bottom: -50px;*/
  /*margin-top: 50px;*/
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing{
  padding-left: 0;
  padding-right: 0;
}

/* Custom page header */
.header {
  z-index: 2;
  width: 100%;
  position: fixed;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 0;
  }
}
