<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>杂记 - My lifebook</title>
    <meta name="keywords" content="梦伊人,mengjia,盗墓笔记,旅游,游记,lifebook,个人博客,前端学习">
    <meta name="description" content="lifebook-生活书，记录生活点滴">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="app/styles/bootstrap.min.css">
    <link rel="stylesheet" href="app/styles/golbal.css">

</head>
<body>
<!-- 顶部导航-->
<nav class="navbar navbar-default">
    <div class="container  col-lg-11  col-lg-offset-1">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header  ">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">LIFEBOOK</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav list-inline">
                <li ><a href="index.html"><span class="glyphicon glyphicon-home "></span>HOME <span class="sr-only">(current)</span></a></li>
                <li><a href="art.html"><span class="glyphicon glyphicon-music  "></span>ENT</a></li>
                <li ><a href="travel.html"><span class="glyphicon glyphicon-camera "></span>TRAVEL</a></li>
                <li class="active"><a href="zaji.html"><span class="glyphicon glyphicon-edit"></span>WRITE</a></li>
                <li><a href="novel.html"><span class="glyphicon glyphicon-book "></span>BOOK</a></li>
                <li><a href="example.html"><span class="glyphicon glyphicon-list-alt "></span>ITEM</a></li>
                <li><a href="about.html"><span class="glyphicon glyphicon-user "></span>ME</a></li>

            </ul>
            <!--搜索框search-->
            <!-- <form class="navbar-form " role="search" >
                 <div class="form-group input-group">
                     <input type="text" name="s" id="search" placeholder="Search" value="" class="form-control form-group-lg">
                     <span class="input-group-addon "><span class="glyphicon glyphicon-search"></span></span>
                 </div>
             </form>
             -->
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<!-- 正式内容  -->
<div class="container col-lg-11 col-xs-12 col-sm-12 col-md-12 col-lg-offset-1 ">

    <div class="row row-left col-lg-7 col-xs-12 col-sm-7 col-md-7">
        <h4 class="row-header"><span class="glyphicon glyphicon-list"></span>最新动态</h4>
        <div class="media col-lg-12 col-xs-12 col-sm-12 col-md-12 pull-left" >
            <h4 class="media-heading"><a href="story/story06.html">记一件小事</a></h4>
            <div class="post-meta">
                <ul class="list-group list-inline">
                    <li class="list-group-item">2015/07/26</li>
                    <li class="list-group-item"><a href="zaji.html">杂记</a></li>
                    <li class="list-group-item"><span class="badge">4</span>Views</li>
                    <li class="list-group-item"><span class="badge">4</span>Replies</li>
                    <li class="list-group-item"><span class="badge success">4</span><span class="glyphicon glyphicon-thumbs-up"></span></li>
                </ul>
            </div>
            <div class=" media-left media-middle col-lg-2 col-xs-3 col-sm-2 col-md-2">
                <a href="story/story06.html">
                    <img src="app/images/sz.jpg" alt="杂记" class="media-object  img-circle" style="width:100%;"/>
                </a>
            </div>
            <div class="media-body ">

                <p ><small>当早晨的太阳渐渐衰弱<br>
                    当凛冽的寒风把温暖强拆<br>
                    我还拿什么来坚定地告诉自己<br>
                    坚持一下，下个天亮，就是未来</small></p>
            </div>
        </div>
        <div class="media col-lg-12 col-xs-12 col-sm-12 col-md-12 pull-left" >
            <h4 class="media-heading"><a href="story/story05.html">大学，不说再见</a></h4>
            <div class="post-meta">
                <ul class="list-group list-inline ">
                    <li class="list-group-item">2015/06/20</li>
                    <li class="list-group-item"><a href="zaji.html">杂记</a></li>
                    <li class="list-group-item"><span class="badge">4</span>Views</li>
                    <li class="list-group-item"><span class="badge">4</span>Replies</li>
                    <li class="list-group-item"><span class="badge success">4</span><span class="glyphicon glyphicon-thumbs-up"></span></li>
                </ul>
            </div>
            <div class=" media-left media-middle col-lg-2 col-xs-3 col-sm-2 col-md-2">
                <a href="story/story05.html">
                    <img src="app/images/daxue.png" alt="西塘" class="media-object  img-circle" style="width:100%;"/>
                </a>
            </div>

            <div class="media-body  ">

                <p ><small>大学之道，在明明德，在亲民，在止于至善。<br>
                    知止而后有定，定而后能静，静而后能安，安而后能虑，虑而后能得。
                    物有本末，事有终始。知所先后，则近道矣。</small></p>
            </div>
        </div>
        <div class="media col-lg-12 col-xs-12 col-sm-12 col-md-12 pull-left" >
            <h4 class="media-heading"><a href="story/story04.html">记第一次听演唱会</a></h4>
            <div class="post-meta">
                <ul class="list-group list-inline ">
                    <li class="list-group-item">2015/04/18</li>
                    <li class="list-group-item"><a href="zaji.html">杂记</a></li>
                    <li class="list-group-item"><span class="badge">4</span>Views</li>
                    <li class="list-group-item"><span class="badge">4</span>Replies</li>
                    <li class="list-group-item"><span class="badge success">4</span><span class="glyphicon glyphicon-thumbs-up"></span></li>
                </ul>
            </div>
            <div class=" media-left media-middle col-lg-2 col-xs-3 col-sm-2 col-md-2">
                <a href="story/story04.html">
                    <img src="app/images/yanchanghui.png" alt="演唱会" class="media-object  img-circle" style="width:100%;"/>
                </a>
            </div>
            <div class="media-body ">

                <p ><small>十年之前/
                    我不认识你 你不属于我/
                    我们还是一样/
                    陪在一个陌生人左右/
                    走过渐渐熟悉的街头</small></p>
            </div>
        </div>
        <div class="media col-lg-12 col-xs-12 col-sm-12 col-md-12 pull-left" >
            <h4 class="media-heading"><a href="story/story01.html">有机会，我会把我的故事讲给你听</a></h4>
            <div class="post-meta">
                <ul class="list-group list-inline ">
                    <li class="list-group-item">2015/04/01</li>
                    <li class="list-group-item"><a href="art.html">影评</a></li>
                    <li class="list-group-item"><span class="badge">4</span>Views</li>
                    <li class="list-group-item"><span class="badge">4</span>Replies</li>
                    <li class="list-group-item"><span class="badge success">4</span><span class="glyphicon glyphicon-thumbs-up"></span></li>
                </ul>
            </div>
            <div class=" media-left media-middle col-lg-2 col-xs-3 col-sm-2 col-md-2">
                <a href="story/story01.html">
                    <img src="app/images/hhwq.png" alt="后会无期" class="media-object  img-circle" style="width:100%;"/>
                </a>
            </div>
            <div class="media-body ">

                <p ><small>"有些故事还没讲完，那就算了吧。他们都老了吧？他们在哪里呀？我们就这样各自奔天涯。"
                    “时间无言 如此这般 明天已在眼前 风吹过的 路依然远 你的故事讲到了哪”
                    陀螺会倒，梦就醒了。还是，你宁愿醒着做梦。
                    有些故事还没开始，那就结束了吧。</small></p>
            </div>
        </div>
        <div class="media col-lg-12 col-xs-12 col-sm-12 col-md-12 pull-left" >
            <h4 class="media-heading"><a href="story/story02.html">二十岁出头的你，是不是急着想要更多</a></h4>
            <div class="post-meta">
                <ul class="list-group list-inline ">
                    <li class="list-group-item">2015/04/01</li>
                    <li class="list-group-item"><a href="zaji.html">杂记</a></li>
                    <li class="list-group-item"><span class="badge">4</span>Views</li>
                    <li class="list-group-item"><span class="badge">4</span>Replies</li>
                    <li class="list-group-item"><span class="badge success">4</span><span class="glyphicon glyphicon-thumbs-up"></span></li>
                </ul>
            </div>
            <div class=" media-left media-middle col-lg-2 col-xs-3 col-sm-2 col-md-2">
                <a href="story/story02.html">
                    <img src="app/images/young.jpg" alt="杂记" class="media-object  img-circle" style="width:100%;"/>
                </a>
            </div>
            <div class="media-body ">

                <p ><small>二十岁出头的我们，别妄想太快就能拥有太多丰厚的人生经验和成功。现在的我们除了拼劲，除了青春，除了梦想，一无所有。无论生活这杯酒多么艰涩难喝，你都得闭着眼睛一口干。
                    无论怎样，都希望你不要总想着一步登天的成功，任何事情都有一个过程，一步一步来比较好。</small></p>
            </div>
        </div>
        <!--翻页-->
        <!-- <nav>
            <ul class="pager ">
                <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Pre</a></li>
                <li class="next"><a href="#">Next <span aria-hidden="true">&rarr;</span></a></li>
            </ul>
        </nav>
        -->
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group btn-group-lg " role="group">
                <button type="button" class="btn btn-default">More</button>
            </div>
        </div>
    </div>

    <div class="row row-right col-lg-3 col-lg-offset-1 col-xs-12 col-sm-3 col-md-3">
        <div class="row-right-con">
            <h4 class="row-header1">热门文章 </h4>
            <div class="post-meta">
                <ul class="list-group  ">
                    <li class="list-group-item"><h5><a href="travel/gugong.html">Journey 紫禁城</a></h5> </li>
                    <li class="list-group-item">
                        <ul class="list-group list-inline ">
                            <li class="list-group-item">2015/01/01</li>
                            <li class="list-group-item"><span class="badge">4</span>Views</li>
                            <li class="list-group-item"><span class="badge">4</span>Replies</li>
                            <li class="list-group-item"><span class="badge success">4</span><span class="glyphicon glyphicon-thumbs-up"></span></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="post-meta">
                <ul class="list-group  ">
                    <li class="list-group-item"><h5><a href="story/story01.html">有机会，我会把我的故事讲给你听</a></h5> </li>
                    <li class="list-group-item"><ul class="list-group list-inline ">
                        <li class="list-group-item">2015/04/01</li>
                        <li class="list-group-item"><span class="badge">4</span>Views</li>
                        <li class="list-group-item"><span class="badge">4</span>Replies</li>
                        <li class="list-group-item"><span class="badge success">4</span><span class="glyphicon glyphicon-thumbs-up"></span></li>
                    </ul>
                    </li>
                </ul>
            </div>
            <h4 class="row-header1">推荐链接 </h4>
            <div class="post-meta">
                <ul class="list-group  list-inline">
                    <li class="list-group-item"><h5><a href="http://ireply.cn" title="大学问-知乎校园问答精选|大学生问答社区">大学问</a></h5> </li>
                    <li class="list-group-item"><h5><a href="http://zhihu.com" title="知乎- 与世界分享你的知识、经验和见解">知乎</a></h5> </li>
                    <li class="list-group-item"><h5><a href="http://weibo.com/321009091" title="新浪微博-小小梦工场">微博</a></h5> </li>
                    <li class="list-group-item"><h5><a href="http://seo.chinaz.com/" title="SEO综合查询-站长工具">站长之家</a></h5> </li>
                </ul>
            </div>
            <div class="widget">
                <iframe width="100%" height="100" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=2&ptype=1&speed=0&skin=1&isTitle=1&noborder=1&isWeibo=0&isFans=0&uid=2477183313&verifier=b001128f&dpc=1"></iframe>
            </div>
            <h4 class="row-header1"></h4>
            <div class="post-meta">
                <ul class="list-inline list-group ">
                    <li class="list-group-item"><h5><a href="" id="js-feedback-button">建议反馈</a></h5></li>
                    <li class="list-group-item"><h5><a href="mailto:18238836800@126.com">商务合作</a></h5></li>
                    <!--<li class="list-group-item "><h5><a href="m.html"></a></h5></li>-->
                </ul>
            </div>
        </div>


        <div class="footer">&copy; 2015 | 鲁ICP备15006514号-1</div>
    </div>

</div>




<script src="js/jquery-2.1.4.min.js"></script>
<script src="js/bootstrap.js"></script>
</body>
</html>