<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- SEO -->
    <title>义齿品牌-美加|美加医学官方网站</title>
    <meta name="description" content="不超过150个字符">
    <meta name="keywords" content="">
    <meta name="author" content="name, email@gmail.com">

    <!-- 为移动设备添加 viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/flickerplate.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/modernizr-custom-v2.7.1.min.js"></script>
    <script src="js/jquery-finger-v0.1.0.min.js"></script>
    <script src="js/flickerplate.min.js"></script>
</head>
<body>
<!--顶部-->
<div class=" header ">
    <div class="header-left ">
        <img src="img/logo.jpg">
    </div>
    <div class="header-right ">
        <img src="img/tel.gif">
    </div>
</div>
<div class="img-left">
    <img src="img/xuanfu.png">
</div>
<!--导航-->
<nav class="navbar navbar-default " role="navigation">
    <div class="navbar-collapse">
    <ul class="nav navbar-nav navbar-btn">
        <li class="active"><a href="#">美加首页</a></li>
        <li ><a href="#">品牌故事</a>
        </li>
        <li ><a href="#">关于美加</a></li>
        <li ><a href="#">美加系列产品</a></li>
        <li ><a href="#">案例分享</a></li>
        <li ><a href="#">媒体报道</a></li>
        <li ><a href="#">真伪鉴别</a></li>
        <li ><a href="#">特许加盟</a></li>
        <li ><a href="#">医生通道</a></li>
    </ul>
    </div>

</nav>
<!--轮播图-->
<div class="flicker-example">
    <ul>
        <li data-background="img/field.jpg">

        </li>
        <li data-background="img/forest.jpg">

        </li>
        <li data-background="img/frozen-water.jpg">

        </li>
    </ul>
</div>

<div class="content container">
    <div class="con-left">
     left
    </div>
    <div class="con-middle">
        <div class="middle-1">
             <h4 class="text-center"><a href="#">美加全锆牙技术全揭秘test22</a></h4>
             <p> 一般来说，瓷粉与锆的结合性很差，主要用于后牙修复，易崩瓷。
               而全锆牙则会避免出现崩瓷的问题。	<a href="#">[详细]</a>
             </p>
        </div>
        <div class="middle-2">
            <ul class="t-list">
                <li ><a href="">美加全锆牙技术全揭秘test22</a></li>
                <li ><a href="">美加全锆牙技术全揭秘test22</a></li>
                <li ><a href="">美加全锆牙技术全揭秘test22</a></li>
                <li ><a href="">美加全锆牙技术全揭秘test22</a></li>
                <li ><a href="">美加全锆牙技术全揭秘test22</a></li>
                <li ><a href="">美加全锆牙技术全揭秘test22</a></li>
                <li ><a href="">美加全锆牙技术全揭秘test22</a></li>
                <li ><a href="">美加全锆牙技术全揭秘test22</a></li>
            </ul>
        </div>
    </div>
    <div class="con-right">
        right
    </div>

</div>
<div class="main_text">
    <div class="xmzx">
        <div id="mod1_tab" class="ts-tit">
            <a target="_blank" href="http://www.mega-teeth.com/index.php?m=Content&amp;c=Index&amp;a=lists&amp;catid=49" style="background-position: 0px 0px;">美加防伪</a>
            <a target="_blank" href="http://www.mega-teeth.com/index.php?m=Content&amp;c=Index&amp;a=lists&amp;catid=45" style="background-position: 0px 0px;">就诊流程</a>
            <a target="_blank" href="http://www.mega-teeth.com/index.php?m=Content&amp;c=Index&amp;a=lists&amp;catid=34" style="background-position: 0px 0px;">选择美加</a>
            <a target="_blank" href="http://www.mega-teeth.com/index.php?m=Content&amp;c=Index&amp;a=lists&amp;catid=36" style="background-position: 0px 0px;">美加贴面优势</a>
            <a target="_blank" href="http://www.mega-teeth.com/index.php?m=Content&amp;c=Index&amp;a=lists&amp;catid=61" style="background-position: 0px 0px;">美加超薄贴面</a>
        </div>
        <div class="clear"></div>
        <div class="ts-js mod1_bd" style="display: none;">
            <div class="pic">
                <a href="http://jinyouran.ck920.com" target="_blank" style="padding-left:20px; ">
                    <img src="http://www.mega-teeth.com/Tpl/Meijia/Public/Img/020201.jpg" width="247" height="261" onmouseout="this.style.opacity=1;this.filters.alpha.opacity=100" onmouseover="this.style.opacity=0.7;this.filters.alpha.opacity=70" alt="美加防伪图片" title="美加-防伪">
                </a>
            </div>
            <div class="mid">

                <div class="title">
                    <a target="_blank" href="javascript:;">美加防伪</a>
                </div>
                <div style=" padding-bottom:15px;">
                    如果您使用了假的美加，可能会出现贴面崩瓷，可能出现牙体受损牙龈变色，可能出现贴面退色，无法得到美加提供的后期质量保证，无法获得美加的售后服务，为了您的牙齿健康请认准美加！！！...
                    <a class="hs" href="javascript:;" target="_blank">[详细]</a>
                </div>

                <div class="clear"></div>
                <div style="margin-top:15px;">
                    <span style="color:#739306">请认准美加标志！！</span>
                </div>
            </div>
            <div class="right">
                <div>
                    <img src="http://www.mega-teeth.com/Tpl/Meijia/Public/Img/jieda.jpg" width="154" height="34" alt="美加解答">
                </div>
                <div class="jieda">

                    <p>
                        <a href="http://www.mega-teeth.com/index.php?m=Content&amp;c=Index&amp;a=lists&amp;catid=67" target="_blank">
                            <span style="color:#cc6600">[已解决]</span>
                            什么是美加超薄不备牙贴面？
                        </a>
                    </p>
                    <p>
                        <a href="http://www.mega-teeth.com/index.php?m=Content&amp;c=Index&amp;a=lists&amp;catid=67" target="_blank">
                            <span style="color:#cc6600">[已解决]</span>
                            美加贴面采用何种材料？
                        </a>
                    </p>
                    <p>
                        <a href="http://www.mega-teeth.com/index.php?m=Content&amp;c=Index&amp;a=lists&amp;catid=67" target="_blank">
                            <span style="color:#cc6600">[已解决]</span>
                            什么情况适合做美加贴面？
                        </a>
                    </p>
                    <p>
                        <a href="http://www.mega-teeth.com/index.php?m=Content&amp;c=Index&amp;a=lists&amp;catid=67" target="_blank">
                            <span style="color:#cc6600">[已解决]</span>
                            美加贴面美白效果能持续多久？
                        </a>
                    </p>
                    <p>
                        <a href="http://www.mega-teeth.com/index.php?m=Content&amp;c=Index&amp;a=lists&amp;catid=67" target="_blank">
                            <span style="color:#cc6600">[已解决]</span>
                            美加贴面会损坏牙齿吗？会痛吗？
                        </a>
                    </p>
                    <p>
                        <a href="http://www.mega-teeth.com/index.php?m=Content&amp;c=Index&amp;a=lists&amp;catid=67" target="_blank">
                            <span style="color:#cc6600">[已解决]</span>
                            美加贴面需就诊几次？多长时间？
                        </a>
                    </p>
                    <p>
                        <a href="http://www.mega-teeth.com/index.php?m=Content&amp;c=Index&amp;a=lists&amp;catid=67" target="_blank">
                            <span style="color:#cc6600">[已解决]</span>
                            美加贴面之后，应如何进行保养？
                        </a>
                    </p>

                </div>

            </div>
        </div>
        <div class="ts-js mod1_bd" style="display: none;">
            <div class="pic" style="padding-left:20px; padding-top:20px;">
                <img src="http://www.mega-teeth.com/Tpl/Meijia/Public/Img/l10.jpg" width="247" height="230" alt="美加就诊流程" title="美加-就诊流程">
            </div>
            <div class="mid">

                <div class="title">
                    <a target="_blank" href="javascript:;">就诊流程</a>
                </div>
                <div style=" padding-bottom:15px;">
			<span>
				美牙六步走，轻松解决您的牙齿问题！！只需通过美加授权的医生，您就可以享受到美加给您带来的专业美牙体验，做回时尚自信的自己！！！ ...
			</span>
                    <a class="hs" href="javascript:;" target="_blank">[详细]</a>
                </div>

                <div class="clear"></div>
                <div style="margin-top:15px;">
                    <span style="color:#739306">就诊需知：</span>
                    美加针对不同的患者所采取的就诊方式也会存在差异，具体详细就诊流程还需要咨询当地美加授权医生
                </div>
            </div>

            <div class="right">
                <div>
                    <img src="http://www.mega-teeth.com/Tpl/Meijia/Public/Img/jieda.jpg" width="154" height="34" alt="美加解答">
                </div>
                <div class="jieda">

                    <p>
                        <a href="http://www.mega-teeth.com/index.php?m=Content&amp;c=Index&amp;a=lists&amp;catid=67" target="_blank">
                            <span style="color:#cc6600">[已解决]</span>
                            什么是美加超薄不备牙贴面？
                        </a>
                    </p>
                    <p>
                        <a href="http://www.mega-teeth.com/index.php?m=Content&amp;c=Index&amp;a=lists&amp;catid=67" target="_blank">
                            <span style="color:#cc6600">[已解决]</span>
                            美加贴面采用何种材料？
                        </a>
                    </p>
                    <p>
                        <a href="http://www.mega-teeth.com/index.php?m=Content&amp;c=Index&amp;a=lists&amp;catid=67" target="_blank">
                            <span style="color:#cc6600">[已解决]</span>
                            什么情况适合做美加贴面？
                        </a>
                    </p>
                    <p>
                        <a href="http://www.mega-teeth.com/index.php?m=Content&amp;c=Index&amp;a=lists&amp;catid=67" target="_blank">
                            <span style="color:#cc6600">[已解决]</span>
                            美加贴面美白效果能持续多久？
                        </a>
                    </p>
                    <p>
                        <a href="http://www.mega-teeth.com/index.php?m=Content&amp;c=Index&amp;a=lists&amp;catid=67" target="_blank">
                            <span style="color:#cc6600">[已解决]</span>
                            美加贴面会损坏牙齿吗？会痛吗？
                        </a>
                    </p>
                    <p>
                        <a href="http://www.mega-teeth.com/index.php?m=Content&amp;c=Index&amp;a=lists&amp;catid=67" target="_blank">
                            <span style="color:#cc6600">[已解决]</span>
                            美加贴面需就诊几次？多长时间？
                        </a>
                    </p>
                    <p>
                        <a href="http://www.mega-teeth.com/index.php?m=Content&amp;c=Index&amp;a=lists&amp;catid=67" target="_blank">
                            <span style="color:#cc6600">[已解决]</span>
                            美加贴面之后，应如何进行保养？
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="ts-js mod1_bd " style="display: none;">
            <div class="pic">
                <img src="http://www.mega-teeth.com/Tpl/Meijia/Public/Img/xuanze.jpg" width="247" height="261">
            </div>
            <div class="mid">

                <div class="title">
                    <a target="_blank" href="javascript:;">选择美加</a>
                </div>
                <div style=" padding-bottom:15px;">
                    美加采用精密设备，个性化方案，品质精良的产品，专业客服对售后全程跟踪回访，是大家坚持选择美加的理由...
                    <a class="hs" href="javascript:;" target="_blank">[详细]</a>
                </div>

                <div class="clear"></div>
                <div style="margin-top:15px;">
                    <span style="color:#739306">五大理由：</span>
                    个性定制 、 材料顶级 、 专业制造 、 贴心售后 、 规模宏大
                </div>
            </div>
            <div class="right">
                <div>
                    <img src="http://www.mega-teeth.com/Tpl/Meijia/Public/Img/jieda.jpg" width="154" height="34" alt="美加解答">
                </div>
                <div class="jieda">

                    <p>
                        <a href="http://www.mega-teeth.com/index.php?m=Content&amp;c=Index&amp;a=lists&amp;catid=67" target="_blank">
                            <span style="color:#cc6600">[已解决]</span>
                            什么是美加超薄不备牙贴面？
                        </a>
                    </p>
                    <p>
                        <a href="http://www.mega-teeth.com/index.php?m=Content&amp;c=Index&amp;a=lists&amp;catid=67" target="_blank">
                            <span style="color:#cc6600">[已解决]</span>
                            美加贴面采用何种材料？
                        </a>
                    </p>
                    <p>
                        <a href="http://www.mega-teeth.com/index.php?m=Content&amp;c=Index&amp;a=lists&amp;catid=67" target="_blank">
                            <span style="color:#cc6600">[已解决]</span>
                            什么情况适合做美加贴面？
                        </a>
                    </p>
                    <p>
                        <a href="http://www.mega-teeth.com/index.php?m=Content&amp;c=Index&amp;a=lists&amp;catid=67" target="_blank">
                            <span style="color:#cc6600">[已解决]</span>
                            美加贴面美白效果能持续多久？
                        </a>
                    </p>
                    <p>
                        <a href="http://www.mega-teeth.com/index.php?m=Content&amp;c=Index&amp;a=lists&amp;catid=67" target="_blank">
                            <span style="color:#cc6600">[已解决]</span>
                            美加贴面会损坏牙齿吗？会痛吗？
                        </a>
                    </p>
                    <p>
                        <a href="http://www.mega-teeth.com/index.php?m=Content&amp;c=Index&amp;a=lists&amp;catid=67" target="_blank">
                            <span style="color:#cc6600">[已解决]</span>
                            美加贴面需就诊几次？多长时间？
                        </a>
                    </p>
                    <p>
                        <a href="http://www.mega-teeth.com/index.php?m=Content&amp;c=Index&amp;a=lists&amp;catid=67" target="_blank">
                            <span style="color:#cc6600">[已解决]</span>
                            美加贴面之后，应如何进行保养？
                        </a>
                    </p>

                </div>

            </div>
        </div>
        <div class="ts-js mod1_bd " style="display: block;">
            <div class="pic">
                <img src="http://www.mega-teeth.com/Tpl/Meijia/Public/Img/youshi.jpg" width="247" height="261">
            </div>
            <div class="mid">

                <div class="title">
                    <a target="_blank" href="javascript:;">美加超薄贴面优势</a>
                </div>
                <div style=" padding-bottom:15px;">
                    美加超薄不备牙贴面不需磨牙，不伤原牙，触觉舒适自然、无异物感；对牙龈无刺激，不会导致牙龈变色，非常安全健康；只需就诊两次，前后不过2小时，即可永久美白。...
                    <a class="hs" href="javascript:;" target="_blank">[详细]</a>
                </div>

                <div class="clear"></div>
                <div style="margin-top:15px;">
                    <span style="color:#739306">五大主要优势：</span>
                    安全、 便捷、美观、 健康、 舒适
                </div>
            </div>
            <div class="right">
                <div>
                    <img src="http://www.mega-teeth.com/Tpl/Meijia/Public/Img/jieda.jpg" width="154" height="34" alt="美加解答">
                </div>
                <div class="jieda">

                    <p>
                        <a href="http://www.mega-teeth.com/index.php?m=Content&amp;c=Index&amp;a=lists&amp;catid=67" target="_blank">
                            <span style="color:#cc6600">[已解决]</span>
                            什么是美加超薄不备牙贴面？
                        </a>
                    </p>
                    <p>
                        <a href="http://www.mega-teeth.com/index.php?m=Content&amp;c=Index&amp;a=lists&amp;catid=67" target="_blank">
                            <span style="color:#cc6600">[已解决]</span>
                            美加贴面采用何种材料？
                        </a>
                    </p>
                    <p>
                        <a href="http://www.mega-teeth.com/index.php?m=Content&amp;c=Index&amp;a=lists&amp;catid=67" target="_blank">
                            <span style="color:#cc6600">[已解决]</span>
                            什么情况适合做美加贴面？
                        </a>
                    </p>
                    <p>
                        <a href="http://www.mega-teeth.com/index.php?m=Content&amp;c=Index&amp;a=lists&amp;catid=67" target="_blank">
                            <span style="color:#cc6600">[已解决]</span>
                            美加贴面美白效果能持续多久？
                        </a>
                    </p>
                    <p>
                        <a href="http://www.mega-teeth.com/index.php?m=Content&amp;c=Index&amp;a=lists&amp;catid=67" target="_blank">
                            <span style="color:#cc6600">[已解决]</span>
                            美加贴面会损坏牙齿吗？会...
                        </a>
                    </p>
                    <p>
                        <a href="http://www.mega-teeth.com/index.php?m=Content&amp;c=Index&amp;a=lists&amp;catid=67" target="_blank">
                            <span style="color:#cc6600">[已解决]</span>
                            美加贴面需就诊几次？多长时间？
                        </a>
                    </p>
                    <p>
                        <a href="http://www.mega-teeth.com/index.php?m=Content&amp;c=Index&amp;a=lists&amp;catid=67" target="_blank">
                            <span style="color:#cc6600">[已解决]</span>
                            美加贴面之后，应如何进行保...
                        </a>
                    </p>

                </div>

            </div>
        </div>
        <div class="ts-js mod1_bd first" style="display: none;">
            <div class="pic">
                <img src="http://www.mega-teeth.com/Tpl/Meijia/Public/Img/tiemian.jpg" width="247" height="261" alt="美加超薄不备牙贴面" title="美加-超薄不备牙贴面">
            </div>
            <div class="mid">

                <div class="title">
                    <a target="_blank" href="javascript:;">美加超薄不备牙贴面</a>
                </div>
                <div style=" padding-bottom:15px;">
                    美加超薄不备牙贴面是通过采用全新高新技术材料粘接覆盖在牙齿表面，应用计算机辅助设计，数控设备加工，无需备牙，最薄可至0.2mm,硬度却达400Mpa，修复后的义齿美观大方 ，经久耐用，维护简便，能帮助患者快速重展迷人笑容...
                    <a class="hs" href="javascript:;" target="_blank">[详细]</a>
                </div>

                <div class="clear"></div>
                <div style="margin-top:15px;">
                    <span style="color:#739306">适应症：</span>
                    四环素牙、 氟斑牙、 增龄性变黄、 牙釉质发育不全、 牙齿间隙过大、 牙齿缺损、 乳牙滞留、 牙齿过小、瓜子牙
                </div>
            </div>
            <div class="right">
                <div>
                    <img src="http://www.mega-teeth.com/Tpl/Meijia/Public/Img/jieda.jpg" width="154" height="34" alt="美加解答">
                </div>
                <div class="jieda">

                    <p>
                        <a href="http://www.mega-teeth.com/index.php?m=Content&amp;c=Index&amp;a=lists&amp;catid=67" target="_blank">
                            <span style="color:#cc6600">[已解决]</span>
                            什么是美加超薄不备牙贴面？
                        </a>
                    </p>
                    <p>
                        <a href="http://www.mega-teeth.com/index.php?m=Content&amp;c=Index&amp;a=lists&amp;catid=67" target="_blank">
                            <span style="color:#cc6600">[已解决]</span>
                            美加贴面采用何种材料？
                        </a>
                    </p>
                    <p>
                        <a href="http://www.mega-teeth.com/index.php?m=Content&amp;c=Index&amp;a=lists&amp;catid=67" target="_blank">
                            <span style="color:#cc6600">[已解决]</span>
                            什么情况适合做美加贴面？
                        </a>
                    </p>
                    <p>
                        <a href="http://www.mega-teeth.com/index.php?m=Content&amp;c=Index&amp;a=lists&amp;catid=67" target="_blank">
                            <span style="color:#cc6600">[已解决]</span>
                            美加贴面美白效果能持续多久？
                        </a>
                    </p>
                    <p>
                        <a href="http://www.mega-teeth.com/index.php?m=Content&amp;c=Index&amp;a=lists&amp;catid=67" target="_blank">
                            <span style="color:#cc6600">[已解决]</span>
                            美加贴面会损坏牙齿吗？会痛吗？
                        </a>
                    </p>
                    <p>
                        <a href="http://www.mega-teeth.com/index.php?m=Content&amp;c=Index&amp;a=lists&amp;catid=67" target="_blank">
                            <span style="color:#cc6600">[已解决]</span>
                            美加贴面需就诊几次？多长时间？
                        </a>
                    </p>
                    <p>
                        <a href="http://www.mega-teeth.com/index.php?m=Content&amp;c=Index&amp;a=lists&amp;catid=67" target="_blank">
                            <span style="color:#cc6600">[已解决]</span>
                            美加贴面之后，应如何进行保养？
                        </a>
                    </p>

                </div>

            </div>
        </div>
        </div>
    </div>
        <div class="link">
            <h5><b>友情链接</b></h5>
            <ul>
                <li>
                    <a href="http://cn.china-dental.com/" target="" title="金悠然">金悠然</a>
                </li><li>
                <a href="http://www.mega-dental.com.cn/" target="" title="美加齿科">美加齿科</a>
            </li><li>
                <a href="http://www.mmdu.com/" target="" title="德国牙科医院">德国牙科医院</a>
            </li><li>
                <a href="http://www.ckkq.com/" target="" title="北京齿康口腔医院">北京齿康口腔医院</a>
            </li><li>
                <a href="http://daohang.39.net/mouth/" target="" title="口腔网站大全">口腔网站大全</a>
            </li><li>
                <a href="http://www.yuemei.com/teethwhiten/" target="" title="牙齿美白">牙齿美白</a>
            </li><li>
                <a href="http://www.mayo.js.cn/" target="" title="苏州牙科医院">苏州牙科医院</a>
            </li><li>
                <a href="http://www.kq36.cn/58/" target="" title="康强网">康强网</a>
            </li><li>
                <a href="http://zhongyi.sina.com/zhongzhiya/" target="" title="种植牙">种植牙</a>
            </li><li>
                <a href="http://www.bjckkq.com/" target="" title="齿康美牙种植牙">齿康美牙种植牙</a>
            </li><li>
                <a href="http://www.zgydg.com/" target="" title="广州银翔医院皮肤科">广州银翔医院皮肤科</a>
            </li><li>
                <a href="http://www.lovelytooth.com" target="" title="爱康健齿科集团">爱康健齿科集团</a>
            </li><li>
                <a href="http://www.0512zxyy.com/" target="" title="苏州美容医院">苏州美容医院</a>
            </li><li>
                <a href="http://szgmmr.com/" target="" title="深圳整形">深圳整形</a>
            </li><li>
                <a href="http://www.taiyuanyake.com/" target="" title="太原口腔医院">太原口腔医院</a>
            </li><li>
                <a href="http://www.szrmy.com" target="" title="软盟云">软盟云</a>
            </li>
            </ul>
        </div>
<div class="footer">
    <div class="f-con">
        <div class="f-left">
        <img src="img/footer_l.png">
        </div>
        <div class="f-middle">
            <p class="">

                地址：深圳市龙岗区坂田上雪科技园西区四号二栋<br>
                Mega-teeth.com 版权所有<br>
                ICP：粤ICP备12033054号-1<br></p>

         </div>
         <div class="f-right">
           <img src="img/footer_r.png">
          </div>
    </div>
</div>
</body>
<script src="js/jquery.bootstrap-dropdown-hover.js"></script>
<script>
    $(function(){
        $('.flicker-example').flicker();
    });
</script>
<script>
    //$('[data-toggle="dropdown"]').bootstrapDropdownHover();
    $.fn.bootstrapDropdownHover();
    //$('#dropdownMenu1').bootstrapDropdownHover();
    //$('.navbar [data-toggle="dropdown"]').bootstrapDropdownHover();
</script>
<script type="text/javascript">
    $(function(){
        $("#mod1_tab>a").each(function(index){
            $(this).mouseover(	function(){
                $("#mod1_tab>a").css({
                    "background-position":"0px 0"
                });
                $(this).css({
                    "background-position":"0px 0"
                });
                $(".mod1_bd").hide();$(".mod1_bd").eq(index).show();
            })
        })
    })
</script>

</html>