<div class="container">
    <div class="col-md-offset-1 col-md-10 col-xs-12 clearfix" style="padding-top: 60px">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">我去过的地方</h4>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-bordered">
                    <tr ng-repeat="poi in poi_data">
                        <td>编号</td>
                        <td>{{poi.id}}</td>
                        <td>{{poi.tag}}</td>
                        <td><a href="#/{{poi.tag}}/{{poi.id}}" target="_blank">{{poi.name}}</a></td>
                        <td>地址</td>
                        <td>{{poi.address}}</td>
                    </tr>
                </table>
            </div>
            <div class="panel-footer">
                <a href="#/">返回首页</a>
            </div>
        </div>
    </div>

</div>