<div id="map">

</div>
<div id="searchbox" class="clearfix" ng-controller="SearchCtrl">
    <div id="searchbox-container">
        <div id="sole-searchbox-content" class="searchbox-content">
            <input id="sole-input" ng-model="sole_input" ng-change="input_change()" class="searchbox-content-common" type="text" name="word" autocomplete="off" maxlength="256" placeholder="搜地点、查公交、找路线" value="">
            <div class="input-clear" ng-if="clear" ng-click="clear_input()" title="清空"></div>
            <div ng-click="route_loading()" class="searchbox-content-button right-button route-button loading-button" data-title="路线">
            </div>
        </div>
        <div id="searchResultPanel" style="border:1px solid #C0C0C0;width:150px;height:auto; display:none;"></div>
    </div>
    <button id="search-button" data-title="搜索"></button>
    <div id="toast-wrapper">
        <div id="toast">
            <img class="info-tip-img" src="http://webmap2.map.bdstatic.com/wolfman/static/common/images/transparent.gif" alt="">
            <span class="info-tip-text"></span>
        </div>
    </div>
</div>
<div class="boxopt mark-active" ng-click="tool_toogle_box()">
    <span id="util_control" class="boxutils boxicon" ></span>
    <i class="boxtext" >工具</i><em class="active"></em>
</div>
<div class="detail-box"  ng-show="box_show">
    <ul id="boxul" class="boxinfo">
        <li class="map-measure" ng-click="measure()">
            <span class="last measure"></span><i>测距</i>
        </li>
        <li class="map-measure" ng-click="get_latlng()">
         <span class="glyphicon glyphicon-screenshot latlng"></span><i>获取坐标</i>
        </li>
        <!--<li class="map-mark" ng-click="mark">-->
            <!--<span class="last mark"></span><i>标记</i>-->
        <!--</li>-->
        <!--<li class="map-share" ng-click="share"><span class="last share">-->
        <!--</span><i>分享</i>-->
        <!--</li>-->
    </ul>
</div>
<!--显示坐标-->
<div class="show-latlng" style="position:absolute ;bottom: 100px;right: 100px;" ng-hide="remove_latlng">
    <p>
        <span id="current_lat">纬度: {{current_lat}}</span>
        <span id="current_lng">经度: {{current_lng}}</span>
        <span class="remove_latlng" ng-click="hide_latlng()">
            <i class="glyphicon glyphicon-remove-circle"></i>
        </span>
    </p>
</div>