<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>大学，不说再见 - My lifebook</title>
    <meta name="keywords" content="梦伊人,mengjia,盗墓笔记,旅游,游记,lifebook,个人博客,前端学习">
    <meta name="description" content="lifebook-生活书，记录生活点滴">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../app/styles/bootstrap.min.css">
    <link rel="stylesheet" href="../app/styles/golbal.css">
</head>
<body>
<!-- 顶部导航-->
<nav class="navbar navbar-default">
    <div class="container  col-lg-10 col-xs-12 col-lg-offset-1">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header  ">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="../index.html">LIFEBOOK</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ><a href="#"><span class="glyphicon glyphicon-home "></span>HOME <span class="sr-only">(current)</span></a></li>
                <li><a href="../art.html"><span class="glyphicon glyphicon-music  "></span>ENT</a></li>
                <li><a href="../travel.html"><span class="glyphicon glyphicon-camera "></span>TRAVEL</a></li>
                <li class="active"><a href="../zaji.html"><span class="glyphicon glyphicon-edit"></span>WRITE</a></li>
                <li><a href="../novel.html"><span class="glyphicon glyphicon-book "></span>BOOK</a></li>
                <li><a href="../example.html"><span class="glyphicon glyphicon-list-alt "></span>ITEM</a></li>
                <li><a href="../about.html"><span class="glyphicon glyphicon-user "></span>ME</a></li>

            </ul>
            <!--搜索框search-->
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!-- 正式内容  -->
<div class="container col-lg-11 col-xs-12 col-sm-12 col-md-9 col-lg-offset-1 ">

    <div class="row row-left col-lg-7 col-xs-12 col-sm-12 col-md-8">
        <p class="row-header"><a href="../index.html">首页&nbsp;</a><span class="glyphicon glyphicon-chevron-right"></span><a href="../zaji.html">杂记&nbsp;</a> <span class="glyphicon glyphicon-chevron-right"></span>大学，不说再见</p>
        <div class="media col-lg-12 col-xs-12 col-sm-12 col-md-12 pull-left" >
            <h4 class="media-heading"><a href="#">大学，不说再见</a></h4>
            <div class="post-meta">
                <ul class="list-group list-inline ">
                    <li class="list-group-item">2015/06/20</li>
                    <li class="list-group-item"><a href="../zaji.html">杂记</a></li>
                    <li class="list-group-item"><span class="badge">4</span>Views</li>
                    <li class="list-group-item"><span class="badge">4</span>Replies</li>
                    <li class="list-group-item"><span class="badge success">4</span><span class="glyphicon glyphicon-thumbs-up"></span></li>
                </ul>
            </div>
            <div class="media-body  ">
                <p ><small>
                    <img src="../app/images/daxue.jpg" alt="大学，不说再见" class="img-responsive "><br/><br/>

                    从答辩，拍毕业照，再到拿毕业证，看着一个个的同学离开，也许有些人是这辈子最后一次见面，但我一直没什么悲伤的感觉。<br/>
                    可能是自己还没真正接受到大学已经结束的事实，也可能是对这所大学没什么留恋吧。窗外下着雨，晚上六点多就被起来参加毕业典礼的人吵醒，本人没有凑热闹的习惯，一般的活动我都不会参加。在学校：学院组织的活动，学校组织的活动，对面楼有人吵架，隔壁楼有人表白；在家里：有人结婚，有人去世，有人出生；我从不参与，因为我觉得那不关我的事。但毕业这件事不是你不参与，你就真的可以不参与。毕业了，就真的毕业了。
                    <br/><br/>
                    回首过去的四年，仿佛还是昨天的事。大一，开学是我哥送我来的，从家出发，第一次坐火车，第一次离开家乡那弹丸之地，费县～新乡～郑州～洛阳。第一天下午从家出发第二天中午到的学校。坐着号称，大学四年只能坐两次的校车（一次来一次走），从火车站被拉到菁园那条土路上。然后拉着箱子问着学长，回到嘉园，报道，分宿舍。我是我们宿舍第二个到的，第一个是电信科的陈振江，家是郑州的，前一天晚上做的车，这天天还不亮就到了学校。我选了一个靠近阳台的床铺，然后四年大多数时间就在这里度过。<br/>
                    记得分完宿舍，买完一些日用品，然后被带班带到琴湖。应该是下午吧，一群不认识的人围在一起，开始自我介绍。然后大家开始相互认识，这就是我们大学四年的同学。<br/>
                    大一，没有加入社团，没竞选班委，也对学生会没什么兴趣。记得下学期在一个叫“一览读书会”的社团里报过一次名，后来加过社团QQ群，但因为懒一次活动也没参加过，再后来就退群了，一切就这样不了了之。大一学习大家都是比较认真的，没人挂科。我考的不好也不坏，专业排名在中间位置吧。
                    <br/><br/>
                    大二，参加了一个微博团队。关于微博的故事，应该追溯到大一十一月份。记得那是一天中午，吃完饭，对铺的孩子突然说起微博这个东西。我那时候是第一听说，那天应该是2011年11月19日。那天中午用我那人生第一部手机oppoA115，还是java客户端，注册了账号。起名字的时候，本来打算叫1900或者1955结果已经被使用了，然后开始想一些数字和汉字的组合，不知怎么，“小小梦工场”这个名字就出现了。四年，中间偶尔改过昵称，不过大多数时间还是这个名字。<br/>
                    开始后，就再也停不下来，不过一开始都是自娱自乐，因为没有粉丝就没有互动。后来开始主动关注一些，同学或者临校的同学，开启互相评论转发打成一片。那时候发的最多的是鸡汤，以至于后来说话都带着鸡汤味。加入微博校园团队是在12年十月一左右吧，一次偶然的机会看见了要招募队伍，因为闲着没事我就报名了。第一次团队见面是在二食堂三楼，南边大桌子那最东边中间位置，我坐在桌子东南角。当时有@枫止 @董明辉 阳河，李弈锦，崔耘富，还有谁忘了，
                    不过这些人后来都成了好朋友。按照惯例，大家做了自我介绍，然后@枫止 说了下微博团队是干啥的，我们这些人需要干着什么。因为我一直发鸡汤，所以我的任务就是早晚安。那时候就只有一个安装了java客户端的破手机，没有智能手机，没有电脑，没有平板。所以早期一些大屏幕或者什么活动都没怎么参与，真正在团队里活跃起来是13年春天。那年我买了电脑，校内网也开始通了。<br/>
                    说起校内网，就想起了大一大二去公教选课的苦逼日子。记得最深刻的一件事是，宿舍第一个到的哥们。选课比较积极，前一天晚上从宿舍离开然后去机房门口占位置，13年以后入学的孩子你们永远也不会知道，有那么一群人，为了选课连夜在机房门口占位的事。他就那样在机房门口，被外面人挤着站了一夜，因为第二天早上我第一个去接他的班，所以有些事我是亲眼目睹的，机房是早上七点还是六点以后开门。开门后，开始占机子，刷网页，选课。因为选课系统垃圾，人有同时进去那么多，所以选课也比较麻烦，但后来发了还是都选上了。从那次以后，振江兄，对选课就那么积极了，因为课就在哪里，早晚都可以选，没必要那么拼。再后来外网也可以进去了，宿舍还有了校内网。
                    再回来说微博的事。从13年春天开始，我一直活跃在学校各个校区的每次大屏幕活动。<br/><br/>
                    记得最深刻的是，13年冬天那场在四区的元旦大屏幕活动。记忆里，那天晚上特别冷，不是一般的冷，感觉是大学四年最冷的一个冬天。节目会场是在四区西门，当天记得有黄明磊，董明辉和我，其实做一次活动不需要这么多人，两个人足够了。一个看着大屏幕的滚动，一个负责后台内容的审核，而我当时负责的是帮他们看电脑，现在想起来也是醉了，冻了一晚上结果就是看了一晚上电脑！！！我坐在四区306，有风，穿的衣服也不是很多，所以感觉非常的冷，但我什么也没说，就这样在寒风里待到了晚上十一点左右吧。中间在那间教室还遇见了我们班一女生同学，她陪我在那还聊了会天。（话说现在她现在是我对铺隔壁孩子的女票T_T）<br/>
                    我加入后陆陆续续又有新的成员加入，任务分配，大屏幕活动，微博运营，懂的越来越多，微博也玩的得心应手。粉丝也开始变多，那时候粉丝应该差不多有一千了吧。如果年前不主动清理僵尸粉，现在应该过两千了。记得一年我最多发出评论10000+，不删微博的话现在微博条数应该也过万了吧。<br/>
                    坤仔应该是在13年下半年加入的吧，同时加入的应该还有小佳和小颖子（我一直这么叫⊙_⊙）。他们加入的时候，微博校园的粉丝也从我关注时的300多变成了4000+，现在变成了8000+。12年，13年，14年，我可能是团队里待的时间最长的了吧，按资历现在应该是最老的@_@。在团队呆了三年多，但一直没做到校园主管这位置，应该说有点小遗憾。但也是自己选择的，当初黄退的时候，我把机会给了刚加入的新人，自己也没有过分的争取。<br/>
                    后来，还他们一群逗比玩的也挺开心，记得去年也是快毕业的时候，应该是六月十八日，团队一群人去了龙潭峡，当是黄的毕业旅行。那天发生了很多事，也影响了一些人，但后来也都不了了之了。中间的事也不去说了。对了前几天我和坤仔，去了泰山和济南，进行了我的毕业之旅。时间过得就是这么快，眨眼间一年就过去了。
                    <br/><br/>
                    回过来，再说说大学学习上的事吧。可能是因为微博也可能不是，大二那年上课的时候感觉，怎么都睡不醒，一听课就困。再加上不怎么爱学习，所以再大二我的大学完整了，而且完整了三次，是的你没猜错，我挂了三科！！！真是个悲伤的故事。不过值得庆幸的是，那年我四级过了。
                    忘了说了，大一大二我考试从来没抄袭过，我鄙视那些考试做小抄的人。不过到了大三我也成了我鄙视的那种人。
                    大三，上课不在那么困了。我那时候才醒悟，大二之所以上课困，应该是作息不规律导致的。这一年没有挂科，大四也没有。就这样，大三大四，在一路考试一路小抄的情况下度过了。
                    <br/><br/>
                    四年，一直都是单身狗。开始的时候，对那些秀恩爱的有些羡慕和嫉妒，随着时间的推移感觉也就没那么强烈了。我觉得应该和刷微博，看的那些鸡汤文有关系T_T。在微博上认识了一些妹纸，很聊的了，班级里也有几个妹子也挺聊的来然而这并没有什么卵用，因为还是没有摆脱单身狗的命运。应该说到了大四，有些事就已经想开了，不在强求，虽然偶尔看见校园里情侣搂搂抱抱亲亲我我仍然有一丝嫉妒，但路过也只是会心一笑然后就过去了。有时候，待宿舍看一些电影，偶尔心会痛几下。
                    <br/><br/>
                    四年去的地方不多，去的最远的地方是北京。在洛阳去的地方也不是很多，白马寺，关林，龙门石窟，天子驾六，隋唐，老城，龙潭峡，黛眉山，只有这些吧。然后去了一次济南，爬了泰山，去了济南大学，山东大学。去了一次北京，逛了故宫，景山，天安门，王府井，北京大学，圆明园，长城。<br/>
                    四年的火车票，门票，明信片都还留着，就做以后的记忆吧。
                    <br/><br/>
                    好像要说的暂时就只有这些了，起床去操场看看，然后去见你们最后一次，然后再见。<br/>


                    <span style="text-align:right">2015-06-26 于河南洛阳河南科技大学嘉园1#303</span>
                </small>
                </p>
            </div>
        </div>
    </div>
    <!--翻页-->
    <!-- <nav>
        <ul class="pager ">
            <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Pre</a></li>
            <li class="next"><a href="#">Next <span aria-hidden="true">&rarr;</span></a></li>
        </ul>
    </nav>
    -->
    <div class="row row-right col-lg-3 col-lg-offset-1 col-xs-12 col-sm-12 col-md-8">
        <div class="row-right-con">
            <h4 class="row-header1">热门文章 </h4>
            <div class="post-meta">
                <ul class="list-group  ">
                    <li class="list-group-item"><h5><a href="#">Journey 紫禁城</a></h5> </li>
                    <li class="list-group-item"><ul class="list-group list-inline ">
                        <li class="list-group-item">2015/01/01</li>
                        <li class="list-group-item"><span class="badge">4</span>Views</li>
                        <li class="list-group-item"><span class="badge">4</span>Replies</li>
                        <li class="list-group-item"><span class="badge success">4</span><span class="glyphicon glyphicon-thumbs-up"></span></li>
                    </ul>
                    </li>
                </ul>
            </div>
            <div class="post-meta">
                <ul class="list-group  ">
                    <li class="list-group-item"><h5><a href="html">有机会，我会把我的故事讲给你听</a></h5> </li>
                    <li class="list-group-item"><ul class="list-group list-inline ">
                        <li class="list-group-item">2015/04/01</li>
                        <li class="list-group-item"><span class="badge">4</span>Views</li>
                        <li class="list-group-item"><span class="badge">4</span>Replies</li>
                        <li class="list-group-item"><span class="badge success">4</span><span class="glyphicon glyphicon-thumbs-up"></span></li>
                    </ul>
                    </li>
                </ul>
            </div>
            <h4 class="row-header1">推荐链接 </h4>
            <div class="post-meta">
                <ul class="list-group  list-inline">
                    <li class="list-group-item"><h5><a href="../index.html" title="大学问-知乎校园问答精选|大学生问答社区">大学问</a></h5> </li>
                    <li class="list-group-item"><h5><a href="http://zhihu.com" title="知乎- 与世界分享你的知识、经验和见解">知乎</a></h5> </li>
                    <li class="list-group-item"><h5><a href="http://weibo.com/321009091" title="新浪微博-小小梦工场">微博</a></h5> </li>
                    <li class="list-group-item"><h5><a href="http://seo.chinaz.com/" title="SEO综合查询-站长工具">站长之家</a></h5> </li>
                </ul>
            </div>
            <div class="widget">
                <iframe width="100%" height="100" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=2&ptype=1&speed=0&skin=1&isTitle=1&noborder=1&isWeibo=0&isFans=0&uid=2477183313&verifier=b001128f&dpc=1"></iframe>
            </div>
            <h4 class="row-header1"></h4>
            <div class="post-meta">
                <ul class="list-inline list-group ">
                    <li class="list-group-item"><h5><a href="mailto:18238836800@126.com" id="js-feedback-button">建议反馈</a></h5></li>
                    <li class="list-group-item"><h5><a href="mailto:18238836800@126.com">商务合作</a></h5></li>
                </ul>
            </div>
        </div>
        <div class="footer">&copy; 2015 | 鲁ICP备15006514号-1</div>
    </div>
</div>
<script src="../js/jquery-2.1.4.min.js"></script>
<script src="../js/bootstrap.js"></script>
</body>
</html>