<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>记第一次听演唱会 - My lifebook</title>
    <meta name="keywords" content="梦伊人,mengjia,盗墓笔记,旅游,游记,lifebook,个人博客,前端学习">
    <meta name="description" content="lifebook-生活书，记录生活点滴">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../app/styles/bootstrap.min.css">
    <link rel="stylesheet" href="../app/styles/golbal.css">
</head>
<body>
<!-- 顶部导航-->
<nav class="navbar navbar-default">
    <div class="container  col-lg-10 col-xs-12 col-lg-offset-1">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header  ">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="../index.html">LIFEBOOK</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ><a href="#"><span class="glyphicon glyphicon-home "></span>HOME <span class="sr-only">(current)</span></a></li>
                <li><a href="../art.html"><span class="glyphicon glyphicon-music  "></span>ENT</a></li>
                <li><a href="../travel.html"><span class="glyphicon glyphicon-camera "></span>TRAVEL</a></li>
                <li class="active"><a href="../zaji.html"><span class="glyphicon glyphicon-edit"></span>WRITE</a></li>
                <li><a href="../novel.html"><span class="glyphicon glyphicon-book "></span>BOOK</a></li>
                <li><a href="../example.html"><span class="glyphicon glyphicon-list-alt "></span>ITEM</a></li>
                <li><a href="../about.html"><span class="glyphicon glyphicon-user "></span>ME</a></li>

            </ul>
            <!--搜索框search-->
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!-- 正式内容  -->
<div class="container col-lg-11 col-xs-12 col-sm-12 col-md-9 col-lg-offset-1 ">

    <div class="row row-left col-lg-7 col-xs-12 col-sm-12 col-md-8">
        <p class="row-header"><a href="../index.html">首页&nbsp;</a><span class="glyphicon glyphicon-chevron-right"></span><a href="../zaji.html">杂记&nbsp;</a> <span class="glyphicon glyphicon-chevron-right"></span>记第一次听演唱会</p>
        <div class="media col-lg-12 col-xs-12 col-sm-12 col-md-12 pull-left" >
            <h4 class="media-heading"><a href="#">记第一次听演唱会</a></h4>
            <div class="post-meta">
                <ul class="list-group list-inline ">
                    <li class="list-group-item">2015/05/01</li>
                    <li class="list-group-item"><a href="../zaji.html">杂记</a></li>
                    <li class="list-group-item"><span class="badge">4</span>Views</li>
                    <li class="list-group-item"><span class="badge">4</span>Replies</li>
                    <li class="list-group-item"><span class="badge success">4</span><span class="glyphicon glyphicon-thumbs-up"></span></li>
                </ul>
            </div>
            <div class="media-body ">
                <p ><small>
                    <h5 class="text-center"><b>记第一次演唱会—Another Eason’s Life陈奕迅2015巡演洛阳站</b></h5><br/>
                    听说陈奕迅要在洛阳开演唱会应该是14年末，因为从小到大一直没听过演唱会，而且还比较喜欢陈奕迅的歌，所以一直就比较关注。<br/>
                    当大麦网接受预约购买的时候，我那时盯着倒计时的数字，知道变成了0：00，但那时我依旧没有买票。我是15年一月中旬买的票，380虽然不高但也是一笔不小的输出。当初想的是，机会就在眼前，可以去接触为什么不去。
                    <br/>
                    15年4月份初的一个周末，拿到了演唱会的门票。
                    <br/>
                    15年，四月十八号，演唱会当天。周六，上班。早上提前准备好，门票，雨伞，擦凳子的纸。上班，下班。出人意料的时，
                    下班前20分钟老板通知下班后要开会。那时，离演唱会开始还有两个小时，心里其实稍微有些着急。
                    然后开会，开会结束看着表已经7：05分，天还下着雨。出办公室门，走到马路上时，发现了很多人和车，大概都是去听演唱会的。
                    下雨天，穿雨衣的最多。随着黄绿色的人流，从游泳馆走到体育中心，虽然只有短短的几百米，依旧还是想快走几步。<br/>
                    <img src="../app/images/yanchanghui01.gif" alt="2015陈奕迅洛阳演唱会" class="img-responsive " >
                    七点40走到体育馆东门，当时外面围了很多人，其中有些是在外面听的，有些是在里面听。但不可置疑的是人很多，脸走路都得自己挤出一条路来。然后拍了长长的队，检票进场。<br/>
                    七点45分左右进场，找到了自己的位置，离主舞台很远，根本看不见清楚的看见陈奕迅本人，只能模糊的看见一个人影。<br/>
                    <img src="../app/images/yanchanghui02.jpg" alt="2015陈奕迅洛阳演唱会" class="img-responsive " >
                    本来说演唱会八点整开始，8点20依旧没有开始，现场走了一些急躁。但当舞台灯光突然变暗，大家就开始尖叫，因为大家知道演唱会马上就要开始了。
                    8点30左右，演唱会正式开始。<br/>
                    <img src="../app/images/ych/ych03.jpg" alt="2015陈奕迅洛阳演唱会" class="img-responsive " >
                    <img src="../app/images/ych/ych04.jpg" alt="2015陈奕迅洛阳演唱会" class="img-responsive " >
                    <img src="../app/images/ych/ych05.jpg" alt="2015陈奕迅洛阳演唱会" class="img-responsive " >
                    <img src="../app/images/ych/ych06.jpg" alt="2015陈奕迅洛阳演唱会" class="img-responsive " >
                        当舞台灯光亮起，歌声响起，氛围突然都出来了。起初我一直在拍照，虽然拍的不清楚不过依旧想留点记忆。但是等路一直都在，这首歌想起时，第一个小高潮已经来了，大家开始挥舞荧光棒，一起跟着合唱。<br/>
                    当音乐想起身体会跟随者因为律动，你的手你的脚会忍不住都懂，也许这就是音乐的美丽。震撼的音响，每一次响动都重重的敲击着你的心脏。
                    快结束时，他感谢了现场的观众，乐队，工作人员，一边说一边鞠躬。并且说很荣幸来到洛阳，洛～咩～（学羊叫）还祝大家羊年大吉<br/>
                    <img src="../app/images/ych/ych07.jpg" alt="2015陈奕迅洛阳演唱会" class="img-responsive " >
                    当时代曲唱玩以后，陈奕迅降下了舞台，但他说过看观众的呼声，他考虑要不要重新上来。虽然大家都知道他肯定会上来，但还是有部分人以为这就是结束，他们开始离场了。不过很多的人，开始挥舞荧光棒，呐喊着Eason～～。大概过了15分钟以后，舞台灯光彻底变暗，然后舞台中心又重新慢慢亮起，Eason又重新出来了，翻唱了一首李荣浩的太坦白，然后唱了最后一首十年。
                    当旋律响起，大家开始开始跟着合唱，并且有节奏的挥舞着荧光棒。从身边的人的歌声能听出歌词里的人生韵味。<br/>
                    "十年之前，你不认识我，我不认识你～"<br/>
                    唱完十年，演唱会彻底结束，散场。<br/>
                    <img src="../app/images/ych/ych08.jpg" alt="2015陈奕迅洛阳演唱会" class="img-responsive ">
                    <img src="../app/images/ych/ych09.jpg" alt="2015陈奕迅洛阳演唱会" class="img-responsive " >
                    出了内场，一个人毫无困意。拿出耳机，打开自己录的现场视频，一边听着一边随着人就往学校的方向走去。走在路上，人少的地方，忍不住跑了一段路。也许是听了演唱会兴奋的原因，想一路跑到学校的节奏。一路跑跑听听，一个人听着歌，在黑夜里，慢慢的回到了学校。
                    回来后，在过程中，有很多人说，人都看不见，还花那钱有意思吗？我没有回答，如果每个人都是为了清楚的看见Eason，那么百分之九十九的人去的都没有意思。但去了，真的没有意义吗？<br/><br/>
                    风景一直在那，你去看还是不看都在那；看了变得是你的心而不是风景。
                </small>
                </p>
            </div>
        </div>
    </div>
    <!--翻页-->
    <!-- <nav>
        <ul class="pager ">
            <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Pre</a></li>
            <li class="next"><a href="#">Next <span aria-hidden="true">&rarr;</span></a></li>
        </ul>
    </nav>
    -->
    <div class="row row-right col-lg-3 col-lg-offset-1 col-xs-12 col-sm-12 col-md-8">
        <div class="row-right-con">
            <h4 class="row-header1">热门文章 </h4>
            <div class="post-meta">
                <ul class="list-group  ">
                    <li class="list-group-item"><h5><a href="#">Journey 紫禁城</a></h5> </li>
                    <li class="list-group-item"><ul class="list-group list-inline ">
                        <li class="list-group-item">2015/01/01</li>
                        <li class="list-group-item"><span class="badge">4</span>Views</li>
                        <li class="list-group-item"><span class="badge">4</span>Replies</li>
                        <li class="list-group-item"><span class="badge success">4</span><span class="glyphicon glyphicon-thumbs-up"></span></li>
                    </ul>
                    </li>
                </ul>
            </div>
            <div class="post-meta">
                <ul class="list-group  ">
                    <li class="list-group-item"><h5><a href="html">有机会，我会把我的故事讲给你听</a></h5> </li>
                    <li class="list-group-item"><ul class="list-group list-inline ">
                        <li class="list-group-item">2015/04/01</li>
                        <li class="list-group-item"><span class="badge">4</span>Views</li>
                        <li class="list-group-item"><span class="badge">4</span>Replies</li>
                        <li class="list-group-item"><span class="badge success">4</span><span class="glyphicon glyphicon-thumbs-up"></span></li>
                    </ul>
                    </li>
                </ul>
            </div>
            <h4 class="row-header1">推荐链接 </h4>
            <div class="post-meta">
                <ul class="list-group  list-inline">
                    <li class="list-group-item"><h5><a href="../index.html" title="大学问-知乎校园问答精选|大学生问答社区">大学问</a></h5> </li>
                    <li class="list-group-item"><h5><a href="http://zhihu.com" title="知乎- 与世界分享你的知识、经验和见解">知乎</a></h5> </li>
                    <li class="list-group-item"><h5><a href="http://weibo.com/321009091" title="新浪微博-小小梦工场">微博</a></h5> </li>
                    <li class="list-group-item"><h5><a href="http://seo.chinaz.com/" title="SEO综合查询-站长工具">站长之家</a></h5> </li>
                </ul>
            </div>
            <div class="widget">
                <iframe width="100%" height="100" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=2&ptype=1&speed=0&skin=1&isTitle=1&noborder=1&isWeibo=0&isFans=0&uid=2477183313&verifier=b001128f&dpc=1"></iframe>
            </div>
            <h4 class="row-header1"></h4>
            <div class="post-meta">
                <ul class="list-inline list-group ">
                    <li class="list-group-item"><h5><a href="mailto:18238836800@126.com" id="js-feedback-button">建议反馈</a></h5></li>
                    <li class="list-group-item"><h5><a href="mailto:18238836800@126.com">商务合作</a></h5></li>
                </ul>
            </div>
        </div>
        <div class="footer">&copy; 2015 | 鲁ICP备15006514号-1</div>
    </div>
</div>
<script src="../js/jquery-2.1.4.min.js"></script>
<script src="../js/bootstrap.js"></script>
</body>
</html>