<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>二十岁出头的你，是不是急着想要更多 - My lifebook</title>
    <meta name="keywords" content="梦伊人,mengjia,盗墓笔记,旅游,游记,lifebook,个人博客,前端学习">
    <meta name="description" content="lifebook-生活书，记录生活点滴">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../app/styles/bootstrap.min.css">
    <link rel="stylesheet" href="../app/styles/golbal.css">
</head>
<body>
<!-- 顶部导航-->
<nav class="navbar navbar-default">
    <div class="container  col-lg-10 col-xs-12 col-lg-offset-1">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header  ">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://mengjia.me">LIFEBOOK</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ><a href="#"><span class="glyphicon glyphicon-home "></span>HOME <span class="sr-only">(current)</span></a></li>
                <li><a href="../art.html"><span class="glyphicon glyphicon-music  "></span>ENT</a></li>
                <li><a href="../travel.html"><span class="glyphicon glyphicon-camera "></span>TRAVEL</a></li>
                <li class="active"><a href="../zaji.html"><span class="glyphicon glyphicon-edit"></span>WRITE</a></li>
                <li><a href="../novel.html"><span class="glyphicon glyphicon-book "></span>BOOK</a></li>
                <li><a href="../example.html"><span class="glyphicon glyphicon-list-alt "></span>ITEM</a></li>
                <li><a href="../about.html"><span class="glyphicon glyphicon-user "></span>ME</a></li>

            </ul>
            <!--搜索框search-->
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!-- 正式内容  -->
<div class="container col-lg-11 col-xs-12 col-sm-12 col-md-9 col-lg-offset-1 ">

    <div class="row row-left col-lg-7 col-xs-12 col-sm-12 col-md-8">
        <p class="row-header"><a href="http://mengjia.me">首页&nbsp;</a><span class="glyphicon glyphicon-chevron-right"></span><a href="../zaji.html">杂记&nbsp;</a> <span class="glyphicon glyphicon-chevron-right"></span>二十岁出头的你，是不是急着想要更多</p>
        <div class="media col-lg-12 col-xs-12 col-sm-12 col-md-12 pull-left" >
            <h4 class="media-heading"><a href="#">二十岁出头的你，是不是急着想要更多</a></h4>
            <div class="post-meta">
                <ul class="list-group list-inline ">
                    <li class="list-group-item">2015/05/01</li>
                    <li class="list-group-item"><a href="../zaji.html">杂记</a></li>
                    <li class="list-group-item"><span class="badge">4</span>Views</li>
                    <li class="list-group-item"><span class="badge">4</span>Replies</li>
                    <li class="list-group-item"><span class="badge success">4</span><span class="glyphicon glyphicon-thumbs-up"></span></li>
                </ul>
            </div>
            <div class="media-body ">
                <p ><small>
                    作者/沈善书<br/>
                    前几天晚上，和朋友阿勇坐在马路边一起吃烧烤。他说，我他妈不就是想早一点成功，有自己的一辆车，有十几万做点小生意，然后和其他狐朋狗友聚在一起时有面子吗。将来等生意做起来了，再找个女人结婚。<br/>
                    他原本打算继续和我说，但停顿了几秒后，便拿起一瓶啤酒大口大口的直接喝，只听见咕噜咕噜的声音，像是他有很多欲说还休的话，都咽进肚子里。
                    <br/><br/>
                    听完他说的这些，我没有立马回答，也拿起酒瓶大口喝酒。当时我在心里想着，他十九岁，我二十出头，可是我们为什么都那么急不可耐的想要获得一切？本来二十出头正是奋斗的年纪，无法与别人三十岁、四十岁的人生相比。
                    有些人拼搏了十多年甚至二十多年才能得到如今的收获，而我们，刚刚十八岁成人、二十出头就逼着自己赶紧获得三四十岁时的成功，买车买房，名利双收，和心爱的人游遍各地。
                    <br/><br/>
                    兴许是酒精的作用，我大声朝着阿勇说你他妈的急什么急，做什么都有一个过程，连过程的体验都没有就想获得回报，凭什么？我几乎是带着呵斥的语气大声说完这句话，而后，又埋怨自己，在心里想着，我这么说他，而自己又何尝不是呢。我也着急，我也担心母亲等不及我成功。
                    <br/><br/>
                    我与你一样，在成长的路上总是很着急，着急赚钱速度太慢，着急爱情来得太迟，着急赶快获得成功。朋友阿勇和我吐槽他的种种心急，他分析过自己的心急，大抵是因为想要的太多，嫉妒别人拥有的，所以也希望自己赶紧得到，好把别人比下去，或者说，当别人和自己炫耀时，自己也能低调的说一句，你他妈的嘚瑟什么，老子也有。但是现在，他没有。
                    <br/><br/>
                    阿勇说，现在的我除了青春是资本外，什么都没有。我说，这很好，因为青春是很多没有了的人所羡慕的。况且，年轻是一切机会的可能。<br/>
                    说真的，我们总喜欢观望着别人身上的美好，而忽略了别人也羡慕我们身上所拥有的。我们总喜欢以别人的生活，来给自己贴标签，下定义，附形容词，却不知道，此刻拥有的也是资本。
                    <br/><br/>
                    那天晚上吃完了夜宵后，我和阿勇又买了几瓶啤酒坐在河堤边吹风瞎侃。他和我说了自己的梦想，我也知道了他的无奈。<br/>
                    他性子急，是因为家庭条件不好，生活不如意，所以想付出了赶快得到收获，想在生活上早些获得成功。后来他反问我的性子为什么那么急，我如他的回答一样，也担心一直过着目前不喜欢并且窘迫困顿的生活。
                    <br/><br/>
                    他举杯，朝我示意碰杯，并让我一口气喝完剩下的酒。他说，来，为我们外表响亮实际空虚的梦想碰杯。<br/>
                    当杯子碰撞在一起时，我恍然觉得我与他的梦想就像此时此刻酒杯的声音，很响亮，但喝完了酒瓶里的酒以后，又回归虚空。
                    <br/><br/>
                    也许是这样的吧，我们很多人既想要过自己喜欢的生活，在爱情、事业、学业、梦想上付出后，渴望马上收到回报，别等太久。但是，无论做什么都得有一个过程，只是希望现在的你不要太心急，因为我也在慢慢磨平着急的心。
                    <br/><br/>
                    生活中的我们总是很焦急，尤其是刚刚二十出头的我们，更是心急火燎的害怕自己还没赚到更多的钱买房，房价又继续上涨；害怕还没摆脱目前窘迫的现状，生活又给自己泼了一瓢冷水；害怕遇见了好的爱情，却因为种种原因败给现实。于是，为了摆脱这些害怕，我们急切的催促自己赶快成功，赶快多挣钱。
                    <br/><br/>
                    我另一个大学同学张龙，毕业的时候瞒着家人跑去北京在一建筑工地上班，他去之前我就问想好了不后悔吗，他说不后悔，一个大男人总要走南闯北看一看，四海为家闯一闯。哪怕在北京打拼得遍体鳞伤，也证明了自己曾为想要的生活而努力过。等到将来有了小孩后可以骄傲的告诉他，你老爹以前为了这个家庭奋斗过。
                    <br/><br/>
                    张龙去了北京后，有一回发QQ视频给我，四周全是高楼大厦，他站在一栋正在修建的高楼上，拿着一瓶二锅头朝着我笑眯眯的说，班长，你觉得我样子屌丝吗？我说形象是有点屌丝，但是你太牛逼了，真的一个人去了北京。<br/>
                    他又和我说，其实你不知道，我在这儿好孤独，我想回家了。张龙说完这句话，不顾四周工友的存在，立马大声哭了出来。<br/>
                    他边哭边骂，骂这狗日的生活，他说自己刚去的时候找工作差点被骗，也差点露宿街头，最后还是想到在治安亭度过到北京的第一夜。我在视频这头安慰他说，哥们儿，没办法，咱们想要出人头地前就必须先得像孙子那样努力着。<br/>
                    最终，几个月后， 张龙回来了，这也是我意料之中的事情。他打我电话说他还是选择回到家乡找工作。他说自己去北京不是因为梦想，而是因为冲动，为了给自己的青春一个交代。更重要的是，他认为北京挣钱要快些，好多挣些钱到二十五六岁回农村老家修房结婚。
                    <br/><br/>
                    你看，这又是二十出头便想要立马钱权双拥获得成功的例子。<br/>
                    我们年轻，所以我们敢闯敢拼。张龙说自己之所以选择一个人奔波在陌生城市奋斗打拼，也是为了给自己的青春一个交代，为了老来不后悔，为了以后说自己年轻时的经历给下一代听。
                    <br/><br/>
                    无论是在大城市还是小城市打拼，都不容易。只是我们对年轻的自己，要求得太多，想要的也太多。但这样会把自己弄得筋疲力尽。我始终相信努力会有收获，至于收获的价值大小，在于努力过程中如何耕耘。现在的我尽量让自己不要太着急，因为别人三四十岁拥有的成功，我二十几岁凭什么白日做梦浪费时间？
                    <br/><br/>
                    二十岁出头的我们，别妄想太快就能拥有太多丰厚的人生经验和成功。现在的我们除了拼劲，除了青春，除了梦想，一无所有。无论生活这杯酒多么艰涩难喝，你都得闭着眼睛一口干。
                    <br/><br/>
                    无论怎样，都希望你不要总想着一步登天的成功，任何事情都有一个过程，一步一步来比较好。<br/>
                    希望你能饶恕二十出头焦急获得成功的自己，你想要的，付出了便会有，只是时间会给你一个考验，这个考验便是等待收获的过程。如果在这个过程里，你能合理的规划时间，好好生活，那么得到的经验比你真正想要的结果好很多。
                </small>
                </p>
            </div>
        </div>
    </div>
    <!--翻页-->
    <!-- <nav>
        <ul class="pager ">
            <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Pre</a></li>
            <li class="next"><a href="#">Next <span aria-hidden="true">&rarr;</span></a></li>
        </ul>
    </nav>
    -->
    <div class="row row-right col-lg-3 col-lg-offset-1 col-xs-12 col-sm-12 col-md-8">
        <div class="row-right-con">
            <h4 class="row-header1">热门文章 </h4>
            <div class="post-meta">
                <ul class="list-group  ">
                    <li class="list-group-item"><h5><a href="#">Journey 紫禁城</a></h5> </li>
                    <li class="list-group-item"><ul class="list-group list-inline ">
                        <li class="list-group-item">2015/01/01</li>
                        <li class="list-group-item"><span class="badge">4</span>Views</li>
                        <li class="list-group-item"><span class="badge">4</span>Replies</li>
                        <li class="list-group-item"><span class="badge success">4</span><span class="glyphicon glyphicon-thumbs-up"></span></li>
                    </ul>
                    </li>
                </ul>
            </div>
            <div class="post-meta">
                <ul class="list-group  ">
                    <li class="list-group-item"><h5><a href="html">有机会，我会把我的故事讲给你听</a></h5> </li>
                    <li class="list-group-item"><ul class="list-group list-inline ">
                        <li class="list-group-item">2015/04/01</li>
                        <li class="list-group-item"><span class="badge">4</span>Views</li>
                        <li class="list-group-item"><span class="badge">4</span>Replies</li>
                        <li class="list-group-item"><span class="badge success">4</span><span class="glyphicon glyphicon-thumbs-up"></span></li>
                    </ul>
                    </li>
                </ul>
            </div>
            <h4 class="row-header1">推荐链接 </h4>
            <div class="post-meta">
                <ul class="list-group  list-inline">
                    <li class="list-group-item"><h5><a href="http://mengjia.me" title="大学问-知乎校园问答精选|大学生问答社区">大学问</a></h5> </li>
                    <li class="list-group-item"><h5><a href="http://zhihu.com" title="知乎- 与世界分享你的知识、经验和见解">知乎</a></h5> </li>
                    <li class="list-group-item"><h5><a href="http://weibo.com/321009091" title="新浪微博-小小梦工场">微博</a></h5> </li>
                    <li class="list-group-item"><h5><a href="http://seo.chinaz.com/" title="SEO综合查询-站长工具">站长之家</a></h5> </li>
                </ul>
            </div>
            <div class="widget">
                <iframe width="100%" height="100" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=2&ptype=1&speed=0&skin=1&isTitle=1&noborder=1&isWeibo=0&isFans=0&uid=2477183313&verifier=b001128f&dpc=1"></iframe>
            </div>
            <h4 class="row-header1"></h4>
            <div class="post-meta">
                <ul class="list-inline list-group ">
                    <li class="list-group-item"><h5><a href="mailto:18238836800@126.com" id="js-feedback-button">建议反馈</a></h5></li>
                    <li class="list-group-item"><h5><a href="mailto:18238836800@126.com">商务合作</a></h5></li>
                </ul>
            </div>
        </div>
        <div class="footer">&copy; 2015 | 鲁ICP备15006514号-1</div>
    </div>
</div>
<script src="../js/jquery-2.1.4.min.js"></script>
<script src="../js/bootstrap.js"></script>
</body>
</html>