<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>记一件小事 - My lifebook</title>
    <meta name="keywords" content="梦伊人,mengjia,盗墓笔记,旅游,游记,lifebook,个人博客,前端学习">
    <meta name="description" content="lifebook-生活书，记录生活点滴">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../app/styles/bootstrap.min.css">
    <link rel="stylesheet" href="../app/styles/golbal.css">
</head>
<body>
<!-- 顶部导航-->
<nav class="navbar navbar-default">
    <div class="container  col-lg-10 col-xs-12 col-lg-offset-1">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header  ">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="../index.html">LIFEBOOK</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ><a href="#"><span class="glyphicon glyphicon-home "></span>HOME <span class="sr-only">(current)</span></a></li>
                <li><a href="../art.html"><span class="glyphicon glyphicon-music  "></span>ENT</a></li>
                <li><a href="../travel.html"><span class="glyphicon glyphicon-camera "></span>TRAVEL</a></li>
                <li class="active"><a href="../zaji.html"><span class="glyphicon glyphicon-edit"></span>WRITE</a></li>
                <li><a href="../novel.html"><span class="glyphicon glyphicon-book "></span>BOOK</a></li>
                <li><a href="../example.html"><span class="glyphicon glyphicon-list-alt "></span>ITEM</a></li>
                <li><a href="../about.html"><span class="glyphicon glyphicon-user "></span>ME</a></li>

            </ul>
            <!--搜索框search-->
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!-- 正式内容  -->
<div class="container col-lg-11 col-xs-12 col-sm-12 col-md-9 col-lg-offset-1 ">

    <div class="row row-left col-lg-7 col-xs-12 col-sm-12 col-md-8">
        <p class="row-header"><a href="../index.html">首页&nbsp;</a><span class="glyphicon glyphicon-chevron-right"></span><a href="../zaji.html">杂记&nbsp;</a> <span class="glyphicon glyphicon-chevron-right"></span>记一件小事</p>
        <div class="media col-lg-12 col-xs-12 col-sm-12 col-md-12 pull-left" >
            <h4 class="media-heading"><a href="#">记一件小事</a></h4>
            <div class="post-meta">
                <ul class="list-group list-inline ">
                    <li class="list-group-item">2015/07/26</li>
                    <li class="list-group-item"><a href="../zaji.html">杂记</a></li>
                    <li class="list-group-item"><span class="badge">4</span>Views</li>
                    <li class="list-group-item"><span class="badge">4</span>Replies</li>
                    <li class="list-group-item"><span class="badge success">4</span><span class="glyphicon glyphicon-thumbs-up"></span></li>
                </ul>
            </div>
            <div class="media-body  ">
                <p ><small>
                    来深圳的第29天，工作的第15天。<br/>
                    不想承认自己还像个孩子，但已经毕业了，开始工作，远离家乡，开始了人生的另一个阶段。<br/>
                    27号清校，26号晚买的来深圳的票，27号中午因为学校开的应届生证明没用，票没取出来，所以取道广州。
                    当天下午15:33的车，就这样无声无息的离开了待了四年的洛阳，奔向了一个陌生的号称大都市的城市。
                    票买的硬座，20+的时间，是对我的一个挑战。路上聊聊天打打扑克睡会觉，很快了到了，到广州的时候已经是28号下午两点多了，
                    一下车就感觉好热，广州不愧是四大火炉之一。广州到深圳没有坐火车，同学的一个亲戚开车把我们送到了深圳，离我们找好的住的只有几百米的地方，
                    在路上没撑住还睡了一会。到深圳的时候已经下午四点半左右了。给租房子的房东打电话，他过来带我们到了我们要住的地方。深圳也很热，
                    带的东西也比较多，两个行李箱加一个书包，没走几步，全身就已经湿透了。这是以前从未有过的感受，麻木的拖着俩行李箱被着包，
                    忍着热和疲惫的身躯，到了房东所在的小区，当房东说住的地方是六路时，当时的内心是崩溃的。幸好房东叫人帮我拿东西，要不然都不知道怎么爬上去。<br/>
                    小区应该是安置房，屋子不大但放满了床，五个人，三个双人架子床，没空调没风扇，这么热的天也是醉了，幸好六楼有风。属于短租，
                    一天12块，从28一直住到七月16号，我们搬到了现在住的地方，三室一厅有厨房和卫生间，开始有了点感觉。<br/>
                    工作是从29号周一开始找的，第一周面试过几家但是都是回去等通知然后就没有然后了。第二周找到了现在的工作，
                    是他们邀请我过去面试的，结果果然录取了，工作不是很理想，也不是我想要做的，但还是决定先去干一段时间。<br/>
                    关于面试，以前虽然工作过一段时间，但没有正式的面试过。前几次还是有些紧张但后来好了很多，反正大家都不认识。
                    把以前的工作经历，添油加醋的说一下就好了，对方觉得合适就会留下你，不合适就回去等通知。<br/>
                    说下现在的工作，具体工作内容不打算说。周二到周六上班，早十晚七，早上十点确实是个不错的主意但晚上七点下班就有点晚了
                    ，而且住的地方离工作的地方也稍微有些远。单纯坐地铁需要16站40分钟左右，再加上步行需要接近一个小时，
                    所以每次下班回来就八点多。对了，16站需要6.65元，一天就得13.3的路费，也是醉了π_π。<br/>
                    <img src="../app/images/shenzhentong.png" alt="记一件小事" class="img-responsive">
                    上个周末小伙伴心血来潮，买了厨具，打算晚上自己做饭吃，结果做了一次后就没在集体来过活，只是偶尔煮个面。生活并没有想的那么简单-.-<br/>
                    来深圳快一个月了，去看了海（人生第一次），看了湿地公园，面试的时候也去过很多地方，自己也决定以后周末休息多出去走走。<br/>
                    以后的路，还很长，慢慢走吧。<br/><br/>

                    <span >2015年七月26日于深圳出租屋内</span>


                </small>
                </p>
            </div>
        </div>
    </div>
    <!--翻页-->
    <!-- <nav>
        <ul class="pager ">
            <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Pre</a></li>
            <li class="next"><a href="#">Next <span aria-hidden="true">&rarr;</span></a></li>
        </ul>
    </nav>
    -->
    <div class="row row-right col-lg-3 col-lg-offset-1 col-xs-12 col-sm-12 col-md-8">
        <div class="row-right-con">
            <h4 class="row-header1">热门文章 </h4>
            <div class="post-meta">
                <ul class="list-group  ">
                    <li class="list-group-item"><h5><a href="#">Journey 紫禁城</a></h5> </li>
                    <li class="list-group-item"><ul class="list-group list-inline ">
                        <li class="list-group-item">2015/01/01</li>
                        <li class="list-group-item"><span class="badge">4</span>Views</li>
                        <li class="list-group-item"><span class="badge">4</span>Replies</li>
                        <li class="list-group-item"><span class="badge success">4</span><span class="glyphicon glyphicon-thumbs-up"></span></li>
                    </ul>
                    </li>
                </ul>
            </div>
            <div class="post-meta">
                <ul class="list-group  ">
                    <li class="list-group-item"><h5><a href="html">有机会，我会把我的故事讲给你听</a></h5> </li>
                    <li class="list-group-item"><ul class="list-group list-inline ">
                        <li class="list-group-item">2015/04/01</li>
                        <li class="list-group-item"><span class="badge">4</span>Views</li>
                        <li class="list-group-item"><span class="badge">4</span>Replies</li>
                        <li class="list-group-item"><span class="badge success">4</span><span class="glyphicon glyphicon-thumbs-up"></span></li>
                    </ul>
                    </li>
                </ul>
            </div>
            <h4 class="row-header1">推荐链接 </h4>
            <div class="post-meta">
                <ul class="list-group  list-inline">
                    <li class="list-group-item"><h5><a href="../index.html" title="大学问-知乎校园问答精选|大学生问答社区">大学问</a></h5> </li>
                    <li class="list-group-item"><h5><a href="http://zhihu.com" title="知乎- 与世界分享你的知识、经验和见解">知乎</a></h5> </li>
                    <li class="list-group-item"><h5><a href="http://weibo.com/321009091" title="新浪微博-小小梦工场">微博</a></h5> </li>
                    <li class="list-group-item"><h5><a href="http://seo.chinaz.com/" title="SEO综合查询-站长工具">站长之家</a></h5> </li>
                </ul>
            </div>
            <div class="widget">
                <iframe width="100%" height="100" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=2&ptype=1&speed=0&skin=1&isTitle=1&noborder=1&isWeibo=0&isFans=0&uid=2477183313&verifier=b001128f&dpc=1"></iframe>
            </div>
            <h4 class="row-header1"></h4>
            <div class="post-meta">
                <ul class="list-inline list-group ">
                    <li class="list-group-item"><h5><a href="mailto:18238836800@126.com" id="js-feedback-button">建议反馈</a></h5></li>
                    <li class="list-group-item"><h5><a href="mailto:18238836800@126.com">商务合作</a></h5></li>
                </ul>
            </div>
        </div>
        <div class="footer">&copy; 2015 | 鲁ICP备15006514号-1</div>
    </div>
</div>
<script src="../js/jquery-2.1.4.min.js"></script>
<script src="../js/bootstrap.js"></script>
</body>
</html>