<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>二十三岁生日前夕所感 - My lifebook</title>
    <meta name="keywords" content="梦伊人,mengjia,盗墓笔记,旅游,游记,lifebook,个人博客,前端学习">
    <meta name="description" content="lifebook-生活书，记录生活点滴">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../app/styles/bootstrap.min.css">
    <link rel="stylesheet" href="../app/styles/golbal.css">
</head>
<body>
<!-- 顶部导航-->
<nav class="navbar navbar-default">
    <div class="container  col-lg-10 col-xs-12 col-lg-offset-1">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header  ">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="../index.html">LIFEBOOK</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ><a href="#"><span class="glyphicon glyphicon-home "></span>HOME <span class="sr-only">(current)</span></a></li>
                <li><a href="../art.html"><span class="glyphicon glyphicon-music  "></span>ENT</a></li>
                <li><a href="../travel.html"><span class="glyphicon glyphicon-camera "></span>TRAVEL</a></li>
                <li class="active"><a href="../zaji.html"><span class="glyphicon glyphicon-edit"></span>WRITE</a></li>
                <li><a href="../novel.html"><span class="glyphicon glyphicon-book "></span>BOOK</a></li>
                <li><a href="../example.html"><span class="glyphicon glyphicon-list-alt "></span>ITEM</a></li>
                <li><a href="../about.html"><span class="glyphicon glyphicon-user "></span>ME</a></li>

            </ul>
            <!--搜索框search-->
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!-- 正式内容  -->
<div class="container col-lg-11 col-xs-12 col-sm-12 col-md-9 col-lg-offset-1 ">

    <div class="row row-left col-lg-7 col-xs-12 col-sm-12 col-md-8">
        <p class="row-header"><a href="../index.html">首页&nbsp;</a><span class="glyphicon glyphicon-chevron-right"></span><a href="../zaji.html">杂记&nbsp;</a> <span class="glyphicon glyphicon-chevron-right"></span>二十三岁生日前夕所感</p>
        <div class="media col-lg-12 col-xs-12 col-sm-12 col-md-12 pull-left" >
            <h4 class="media-heading"><a href="#">二十三岁生日前夕所感</a></h4>
            <div class="post-meta">
                <ul class="list-group list-inline ">
                    <li class="list-group-item">2015/04/15</li>
                    <li class="list-group-item"><a href="../zaji.html">杂记</a></li>
                    <li class="list-group-item"><span class="badge">4</span>Views</li>
                    <li class="list-group-item"><span class="badge">4</span>Replies</li>
                    <li class="list-group-item"><span class="badge success">4</span><span class="glyphicon glyphicon-thumbs-up"></span></li>
                </ul>
            </div>
            <div class="media-body ">
                <p ><small>
                    农历二月27日，这是一个平凡又不平凡的日子。这一天我依旧会像往常一样度过，但我仍然记得，1992年的这一天我出生了。是的，这一天是我的生日，但我从来不过。
                    <br/> <br/>
                    想不起，从什么时候起这个日子被我记住，只是依稀记得是小学的时候，有一天聊天我妈告诉我的。但从小到大，由于成长在农村，也没有过生日的习俗或者说是风气，所以几乎没有人在过自己的生日。除非是那些，子女为自己的老母亲或者父亲过寿辰，但那也都是六十岁以后的事了。
                    <br/> <br/>
                    是的，不仅我不过，我家里人也不过。有点遗憾的是，我除了我自己的生日，其他人的日期我都不知道，因为大家都没过过一次生日。也不知道，父母是不是在那一天突然想起来，这一天是一个特殊的日子。我不知道，应该也不会知道吧。
                    <br/> <br/>
                    突然想写点东西，是因为，下午又有人问我，明天是你生日，你还过不过。我的回答依旧是和往常一样：不过。其实这个日子，从去年我就查好了。也给自己准备了生日礼物，但礼物不是在生日当天买的，而是提前自己准备的。换句话说，自己打着生日的大旗，自己又乱花钱了。
                    <br/> <br/>
                    本来觉得，这一天是很平常的日子。以前也是这么想，但每当到这个时候，一旦别人提起，心里就有一些刺痛，大概是自己都不过不了自己这一关。
                    <br/> <br/>
                    生日应该没几个人知道，即使有十几个堂兄堂姐，上百位同学，几百个好友，即使是日期在哪里写着，也没有提起。其实这也很正常，因为自己就从不留意别人的生日，哪又有何理由要求别人记得自己的。
                    <br/> <br/>
                    关于生日，记忆最深刻的一件事。不是我父母，也不是我兄弟姐妹。那是我高中一年级的一位室友。记得那时有次，晚上夜聊，都说起自己的生日。那次，说起自己的生日，被他刻意记下了吧。一年后，高二下学期文理分科，我学理，他学文。就这样，原来一个寝室的人，都各自分开了。记得，那应该是高三的上完晚自习，回到寝室，我高三的同学正在聊天。他突然出现在我的宿舍，手里还拿了一杯奶茶，其实我是不喝奶茶的，从出生到现在没记错的话，那应该是我这一辈子唯一一次喝奶茶。他来到我寝室，把奶茶给了我，记得那奶茶还是热的，他说了什么忘了，总之他是在说生日快乐的。那年的生日我自己的都忘记了，所以有时候不得不说 ，有些事，也许你应该忘记，但可能还有人记得。
                    <br/> <br/>
                    关于他，从那次以后我们就失去了联系。那年高三，今年大四，算着应该过去四年了。只是听说他高三高考，他考的不是很好，然后又复读了一年。然后应该是在青岛一所大学读书，后来找到了他的QQ，虽然也没怎么聊过，不过偶尔说几句话还是感觉异常的亲切。
                    <br/> <br/>
                    高三以后，每年生日的时候，就再也没人记得我的生日，也没人送我生日礼物。
                </small>
                </p>
            </div>
        </div>
    </div>
    <!--翻页-->
    <!-- <nav>
        <ul class="pager ">
            <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Pre</a></li>
            <li class="next"><a href="#">Next <span aria-hidden="true">&rarr;</span></a></li>
        </ul>
    </nav>
    -->
    <div class="row row-right col-lg-3 col-lg-offset-1 col-xs-12 col-sm-12 col-md-8">
        <div class="row-right-con">
            <h4 class="row-header1">热门文章 </h4>
            <div class="post-meta">
                <ul class="list-group  ">
                    <li class="list-group-item"><h5><a href="#">Journey 紫禁城</a></h5> </li>
                    <li class="list-group-item"><ul class="list-group list-inline ">
                        <li class="list-group-item">2015/01/01</li>
                        <li class="list-group-item"><span class="badge">4</span>Views</li>
                        <li class="list-group-item"><span class="badge">4</span>Replies</li>
                        <li class="list-group-item"><span class="badge success">4</span><span class="glyphicon glyphicon-thumbs-up"></span></li>
                    </ul>
                    </li>
                </ul>
            </div>
            <div class="post-meta">
                <ul class="list-group  ">
                    <li class="list-group-item"><h5><a href="html">有机会，我会把我的故事讲给你听</a></h5> </li>
                    <li class="list-group-item"><ul class="list-group list-inline ">
                        <li class="list-group-item">2015/04/01</li>
                        <li class="list-group-item"><span class="badge">4</span>Views</li>
                        <li class="list-group-item"><span class="badge">4</span>Replies</li>
                        <li class="list-group-item"><span class="badge success">4</span><span class="glyphicon glyphicon-thumbs-up"></span></li>
                    </ul>
                    </li>
                </ul>
            </div>
            <h4 class="row-header1">推荐链接 </h4>
            <div class="post-meta">
                <ul class="list-group  list-inline">
                    <li class="list-group-item"><h5><a href="http://mengjia.me" title="大学问-知乎校园问答精选|大学生问答社区">大学问</a></h5> </li>
                    <li class="list-group-item"><h5><a href="http://zhihu.com" title="知乎- 与世界分享你的知识、经验和见解">知乎</a></h5> </li>
                    <li class="list-group-item"><h5><a href="http://weibo.com/321009091" title="新浪微博-小小梦工场">微博</a></h5> </li>
                    <li class="list-group-item"><h5><a href="http://seo.chinaz.com/" title="SEO综合查询-站长工具">站长之家</a></h5> </li>
                </ul>
            </div>
            <div class="widget">
                <iframe width="100%" height="100" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=2&ptype=1&speed=0&skin=1&isTitle=1&noborder=1&isWeibo=0&isFans=0&uid=2477183313&verifier=b001128f&dpc=1"></iframe>
            </div>
            <h4 class="row-header1"></h4>
            <div class="post-meta">
                <ul class="list-inline list-group ">
                    <li class="list-group-item"><h5><a href="mailto:18238836800@126.com" id="js-feedback-button">建议反馈</a></h5></li>
                    <li class="list-group-item"><h5><a href="mailto:18238836800@126.com">商务合作</a></h5></li>
                </ul>
            </div>
        </div>
        <div class="footer">&copy; 2015 | 鲁ICP备15006514号-1</div>
    </div>
</div>
<script src="../js/jquery-2.1.4.min.js"></script>
<script src="../js/bootstrap.js"></script>
</body>
</html>