<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>有机会，我会把我的故事讲给你听 - My lifebook</title>
    <meta name="keywords" content="梦伊人,mengjia,盗墓笔记,旅游,游记,lifebook,个人博客,前端学习">
    <meta name="description" content="lifebook-生活书，记录生活点滴">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../app/styles/bootstrap.min.css">
    <link rel="stylesheet" href="../app/styles/golbal.css">
</head>
<body>
<!-- 顶部导航-->
<nav class="navbar navbar-default">
    <div class="container  col-lg-10 col-xs-12 col-lg-offset-1">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header  ">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="../index.html">LIFEBOOK</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ><a href="#"><span class="glyphicon glyphicon-home "></span>HOME <span class="sr-only">(current)</span></a></li>
                <li><a href="../art.html"><span class="glyphicon glyphicon-music  "></span>ENT</a></li>
                <li><a href="../travel.html"><span class="glyphicon glyphicon-camera "></span>TRAVEL</a></li>
                <li class="active"><a href="../zaji.html"><span class="glyphicon glyphicon-edit"></span>WRITE</a></li>
                <li><a href="../novel.html"><span class="glyphicon glyphicon-book "></span>BOOK</a></li>
                <li><a href="../example.html"><span class="glyphicon glyphicon-list-alt "></span>ITEM</a></li>
                <li><a href="../about.html"><span class="glyphicon glyphicon-user "></span>ME</a></li>

            </ul>
            <!--搜索框search-->
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!-- 正式内容  -->
<div class="container col-lg-11 col-xs-12 col-sm-12 col-md-9 col-lg-offset-1 ">

    <div class="row row-left col-lg-7 col-xs-12 col-sm-12 col-md-8">
        <p class="row-header"><a href="../index.html">首页&nbsp;</a><span class="glyphicon glyphicon-chevron-right"></span><a href="../zaji.html">杂记&nbsp;</a> <span class="glyphicon glyphicon-chevron-right"></span>有机会，我会把我的故事讲给你听</p>
        <div class="media col-lg-12 col-xs-12 col-sm-12 col-md-12 pull-left" >
            <h4 class="media-heading"><a href="#">有机会，我会把我的故事讲给你听</a></h4>
            <div class="post-meta">
                <ul class="list-group list-inline ">
                    <li class="list-group-item">2015/01/01</li>
                    <li class="list-group-item"><a href="../zaji.html">影评</a></li>
                    <li class="list-group-item"><span class="badge">4</span>Views</li>
                    <li class="list-group-item"><span class="badge">4</span>Replies</li>
                    <li class="list-group-item"><span class="badge success">4</span><span class="glyphicon glyphicon-thumbs-up"></span></li>
                </ul>
            </div>
            <div class="media-body  ">
                <p><img src="../app/images/hhwq.jpg" class="img-responsive " alt="后会无期"></p>
                <p ><small>
                    <b>1</b><br/>
                    “有些故事还没讲完，那就算了吧。他们都老了吧？他们在哪里呀？我们就这样各自奔天涯。”<br/>
                    ——1999 朴树 那些花儿<br/>
                    “时间无言 如此这般 明天已在眼前 风吹过的 路依然远 你的故事讲到了哪”<br/>
                    ——2014 朴树 平凡之路<br/><br/>

                    “1999年，韩寒，以《杯中窥人》一文，获得首届全国新概念作文比赛一等奖。”<br/>
                    “2014年7月24日，韩寒执导的电影《后会无期》上映。”<br/>
                    ——韩寒的百度百科，如是说<br/><br/>

                    我不知道，这是不是一个特殊的巧合，而且巧合得近乎刻意。<br/>
                    所以，今天我们见到的《后会无期》，这大概其实是一个关于故事的悖论。<br/>
                    故事的主角，是朴树，是韩寒，是期间我们每一个人。<br/>
                    时间，十年，十几年，几十年。<br/><br/>
                    你会看到，这些年，公众视野里，他们的一些变化。<br/><br/>

                    十年前，朴树唱如夏花一样绚烂，长发恣意扬动于白桦林，那个白衣飘飘的年代；<br/>
                    十年后，他唱平凡才是唯一的答案，那些年他身旁那个灵性如水的爱“飞蛾扑火”的女生，如今也化身以“请多多关照”保护身边男人，然后温柔在低调男人臂弯高呼“我愿意”的高冷迅公子。两人如今各自找到了真爱，并各自幸福着，也许，这个是真的。
                    <br/><br/>
                    从前，韩寒更像一个桀骜而愤怒的少年，写犀利的博文，品评时事与事实，偶尔也会以文会战，更多时候是一副冷酷到底的模样。<br/>
                    现在，你看到的他，几乎都是微笑的，调侃的，戏谑的，甚至坏坏的，他开始温和，不愠不怒，对指责与质疑，一笑而过，黑框眼镜下，眼睛时常笑成缝，这样你就看不到他的眼神，他甚至欣然接受“国民岳父”的称谓，只对一个事实无比坚定不移——“小野不会嫁给你”。
                    <br/><br/>

                    <strong >2</strong><br/>

                    当然，电影还是电影。不是某个人的纯自传体作品。<br/><br/>

                    简单而言，三个男人，变成两个人，遇见四个人——三个女人，一个男人，一辆车，一条狗，一段路程，从国界的最东边，到最西边，简称——一路向西。然后，就没有然后了。因为——后会无期。
                    <br/><br/>
                    宣传说，这是韩寒酝酿多年的公路电影。当然，那必须是公路，除了出海的那艘船。<br/>
                    如果看过韩少的作品，会自动脑补，他应当是有挺强烈的公路情结的，在《1988》里算是做一个全辑。这一次的电影里，用了一个类娜娜的角色，或许也算是一次向回忆致意。
                    <br/><br/>
                    江河，浩汉。江河，浩瀚。原谅我只想到这么远。所以当看到有人说，“经过几日沉淀，终于理解这部电影里只有一个男人和一个女人，男人叫江河浩瀚胡生何去，女人叫莺莺燕燕米沫如絮”，我突然觉得，可以跪安了。
                    <br/><br/>
                    我想，大多数人会更喜欢苏米吧。算一个漂亮的女人，爱过一个人渣，并且庆幸依然还会再爱，果敢，决断，直接。而且最后，其实只有她，不算后会无期。
                    <br/><br/>
                    我喜欢刘莺莺，虽然这个名字，太不符合人物的设置。袁泉不施粉黛的素面出演，将这个角色的厚度，比之本身更深了几度。她与浩汉的故事，呵，其实只是因为一个共同的男人，后来，他死了。也是她，在十九年后，以一场一杆收的台球，道出了所有的真相。浩汉的成长，应该是从这里，才正式完成的吧，从眼角的那一滴泪。幻灭所有关于父亲的想象，还有那个通信了十几年的女孩儿，虽然，她明显更像一个男人，所以她一出场，是自己在换灯泡。最后，她说，你有我所有的联系方式，走吧。我觉得，故事就到这了。就如同，现实当中的我们，与一些人，即便你知悉他的全部，也永远不会相逢。而这，其实根本无关喜欢与爱，放肆与克制的博弈。
                    <br/><br/>
                    至于周沫，或许我太慢，还未入戏，她的戏份已完结，就像她永远奔逐在一个又一个的剧场，只是扮一个替身–的背影，就那么，类似于很难真正捡拾起来的存在感。但我记住了她最后的台词，“混得不好记得回来看我啊”“为什么”“混得好你们就不会记得我了”。故事的Later，她终于混好了，有闪光灯的追拍，有人群的蜂拥，不知道，后来的后来，他们还有没有后会的可能。
                    <br/><br/>
                    还有一个男人，额，抱歉，没记住他名字。但当夜央晨初的间隙，他一边坚持认为人不应该禁锢在一个地方，而要向外行走，一边执着着攀爬至更高处，放声说别人的偶像都是明星，我的偶像却是——一颗卫星，它叫，旅行者，2号！远处夜幕中淡紫的日影，将他的剪影照亮，那一刻，被影响甚至被震惊的，不止是，从未走出过新视界的江河吧，也勿怪，即便最后他开走了他们赖以生存的车，他依然选择相信，至少觉得应该局部相信一个人。
                    <br/><br/>
                    <strong >3</strong><br/><br/>

                    这或许不是一部典型的公路电影，但绝对应该是极富韩寒特质的公路电影。那么，这些人，算是公路上的过客。其实每一个人，都是因为这些一路以来逢遇的过客，人生才得以丰富和丰满起来。对于电影的主角，也应如是。
                    <br/><br/>
                    路上的每一个人，都寻常，又不不平常。之于江河，浩汉而言，这段路程，也算是一段成长之旅。江河走出自己的世界，发现外面的精彩，浩汉回到自己的世界，直面自我。作为多面体的个体存在，我们住在某一面太久，大抵就会如同身陷囹圄，有的人选择固守，原封不动；然有的人选择挣脱，于是，现在有那么多的人，选择辞职去旅行，所以，“间隔年”成为一种世界文化。
                    <br/><br/>
                    而事实上，江河，浩汉，以及只是一个引子的胡生，便当真只是这多面体上的，其中一面罢。在这个角度而言，这其实应该算是一部属于男人的戏，而且是有些文艺气息的男人的戏。因为，只有至少残存一点文艺的因子，你才会想到要去感知，去构想，去记录，甚至，去告别，或无处告别。
                    <br/><br/>
                    故事就是一个如此简单的故事而已，甚至，算不上一个完整意义上的故事。所以，当伴着《平凡之路》响彻影院，直到最后片尾字幕放完，也没见着以为会有的＂彩蛋＂，影院空空，只剩自己最后一人离席，不免有些许落寞。会怀疑，这是删节版？
                    <br/><br/>
                    <strong >4</strong><br/>

                    “告别的时候还是要用力一点，多说一句可能就是最后一句，多看一眼可能就是最后一眼。”<br/>
                    我想到了我奶奶。不是最好的，都无处告别。是最好的，都还未来得及告别，便不再了。<br/><br/>

                    “有时候，你想证明给一万个人看，到后来，你发现只得到了一个明白的人，这就够了。”<br/>
                    这一刻，你想到了誰？<br/><br/>

                    “和很多人告别时，我都会说后会无期，我总觉得有期只是约好了一个久远的时间，而无期也许就会是下一分钟相见。”或许，这大概，才是韩寒拍此片的，真实想法和意图。
                    <br/><br/>
                    很难想象，凌晨三点，我跟一只猫在深度探究，这些故事，这个人，还有我们自己。<br/>
                    女人说，真有默契。<br/><br/>
                    张彬这二货他侄女儿说，后会无期的结局是相反的，所以，时差是可以倒过来的，结束只是换了另一种方式开始了。<br/><br/>

                    这就是，韩寒的聪明与过人之处。100分钟之后，他照旧淡淡微笑着引导你，什么叫作反刍。<br/>
                    这大概是，小四同学的高度，难以达到的。<br/><br/>

                    很多年后，一个成为了精致而精悍的老商人，一个长成了聪明而自在的老文青。然后他们说，这么多年，这么多人，你们都瞎比啥呢。<br/><br/>

                    <strong >5</strong><br/>
                    最后的最后。留给自己吧。<br/>
                    1999年，我小学毕业，初中伊始，懵懂，纯粹，无忧，如赤子的初心。<br/>
                    2014年，我毕业2年，却工作了4年，躁动，同时平静，像止水一般。<br/>

                    有机会，我会把我的故事讲给你听。<br/><br/>

                    <strong  >6</strong><br/>

                    陀螺会倒，梦就醒了。还是，你宁愿醒着做梦。<br/>
                    有些故事还没开始，那就结束了吧。     <br/>
                    <span style="float:right"><i>作者：豆瓣-水七   电影《后会无期》影评</i></span>
                </small>
                </p>
            </div>
        </div>
    </div>
    <!--翻页-->
    <!-- <nav>
        <ul class="pager ">
            <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Pre</a></li>
            <li class="next"><a href="#">Next <span aria-hidden="true">&rarr;</span></a></li>
        </ul>
    </nav>
    -->
    <div class="row row-right col-lg-3 col-lg-offset-1 col-xs-12 col-sm-12 col-md-8">
        <div class="row-right-con">
            <h4 class="row-header1">热门文章 </h4>
            <div class="post-meta">
                <ul class="list-group  ">
                    <li class="list-group-item"><h5><a href="#">Journey 紫禁城</a></h5> </li>
                    <li class="list-group-item"><ul class="list-group list-inline ">
                        <li class="list-group-item">2015/01/01</li>
                        <li class="list-group-item"><span class="badge">4</span>Views</li>
                        <li class="list-group-item"><span class="badge">4</span>Replies</li>
                        <li class="list-group-item"><span class="badge success">4</span><span class="glyphicon glyphicon-thumbs-up"></span></li>
                    </ul>
                    </li>
                </ul>
            </div>
            <div class="post-meta">
                <ul class="list-group  ">
                    <li class="list-group-item"><h5><a href="/story01.html">有机会，我会把我的故事讲给你听</a></h5> </li>
                    <li class="list-group-item"><ul class="list-group list-inline ">
                        <li class="list-group-item">2015/04/01</li>
                        <li class="list-group-item"><span class="badge">4</span>Views</li>
                        <li class="list-group-item"><span class="badge">4</span>Replies</li>
                        <li class="list-group-item"><span class="badge success">4</span><span class="glyphicon glyphicon-thumbs-up"></span></li>
                    </ul>
                    </li>
                </ul>
            </div>
            <h4 class="row-header1">推荐链接 </h4>
            <div class="post-meta">
                <ul class="list-group  list-inline">
                    <li class="list-group-item"><h5><a href="http://mengjia.me" title="大学问-知乎校园问答精选|大学生问答社区">大学问</a></h5> </li>
                    <li class="list-group-item"><h5><a href="http://zhihu.com" title="知乎- 与世界分享你的知识、经验和见解">知乎</a></h5> </li>
                    <li class="list-group-item"><h5><a href="http://weibo.com/321009091" title="新浪微博-小小梦工场">微博</a></h5> </li>
                    <li class="list-group-item"><h5><a href="http://seo.chinaz.com/" title="SEO综合查询-站长工具">站长之家</a></h5> </li>
                </ul>
            </div>
            <div class="widget">
                <iframe width="100%" height="100" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=2&ptype=1&speed=0&skin=1&isTitle=1&noborder=1&isWeibo=0&isFans=0&uid=2477183313&verifier=b001128f&dpc=1"></iframe>
            </div>
            <h4 class="row-header1"></h4>
            <div class="post-meta">
                <ul class="list-inline list-group ">
                    <li class="list-group-item"><h5><a href="mailto:18238836800@126.com" id="js-feedback-button">建议反馈</a></h5></li>
                    <li class="list-group-item"><h5><a href="mailto:18238836800@126.com">商务合作</a></h5></li>
                </ul>
            </div>
        </div>
        <div class="footer">&copy; 2015 | 鲁ICP备15006514号-1</div>
    </div>
</div>
<script src="../js/jquery-2.1.4.min.js"></script>
<script src="../js/bootstrap.js"></script>
</body>
</html>