<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title>前端案例 - 惠锁屏分享页面</title>				
<meta name="keywords" content="梦伊人,mengjia,盗墓笔记,旅游,游记,lifebook,个人博客,前端学习">
<meta name="description" content="lifebook-生活书，记录生活点滴">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../app/styles/style.css" rel="stylesheet">
<link href="../app/styles/item.css" rel="stylesheet">
</head>
<body class="home blog">
<div id="header"><!-- 顶部导航-->
<div class="container clearfix">
<h2 class="logo">  
<a href="index.html"title="梦伊人"rel="home">
<!-- <img src="img/logo.png"alt="梦伊人" width="115px"height="30px"/> -->LIFEBOOK
</a>
</h2>
<div class="global-nav left">
<ul class="gnul">
<li class="gnli ">
<a class="gna"href="index.html"title="首页">HOME</a>
</li>
<li class="gnli">
<a class="gna"href="art.html"title="影音"target="_blank">ENT</a>
<span class="icon-play"></span>
</li>
<li class="gnli">
<a class="gna"href="travel.html"title="旅游"target="_blank">TRAVEL</a>
<span class="icon-play"></span>
</li>
<li class="gnli">
<a class="gna"href="zaji.html"title="杂记"target="_blank">WRITE</a>
<span class="icon-play"></span>
</li>
<li class="gnli">
<a class="gna"href="novel.html"title="小说"target="_blank">BOOK</a>
<span class="icon-play"></span>
</li>
<li class="gnli current">
<a class="gna"href="example.html"title="案例"target="_blank">ITEM</a>
<span class="icon-play"></span>
</li>
<li class="gnli">
<a class="gna"href="about.html"title="关于"target="_blank">ME</a>
<span class="icon-play"></span>
</li>
</ul>
</div>
    <form method="get" class="search-form" action="http://mengjia.me/search">
				<input type="text" name="g" class="search-input" size="15">
				<button type="submit" alt="search" class="search-submit">
				<span class="icon-search"><img src="../app/images/search.png"></span></button>
    </form>
</div>
</div>
<!--content -->
<div id="content">
   <div class="container clearfix ">
   <!--正文部分 -->
     <div id="primary">
	  
	   <div class="zg-section" id="zh-home-list-title">
        <i class="zg-icon zg-icon-feedlist"></i>
       开发案例<input type="hidden" id="feed-ver" value="new">
        
        </div>
	  
		     <div class="left yanshi">
            <div ><img src="mages/share.png"/style="width:100%;"></div>
            <div class="nav-yanshi "><a href="ndex.html">在线演示</a><a href="http://pan.baidu.com/s/1eQhk7vW">下载源码</a></div>
             <div class="jieshao">
			<h3>案例介绍</h3>
			<p>页面将css内嵌到html中，尝试了做到了pc与移动设备的页面适配，利用媒体查询（@media() ）对不同屏幕分辨率的设备进行了各自
			不同的css设置，主要用于响应式页面设计练习</p>
			</div>
		    </div>
	
	    

		
   </div>

		
  
   <!-- 右侧内容-->
   	<div id="sidebar">
	<div id="sidebar-fixed">
	
		
				
		<div class="widget widget-links">
			<h3>友情链接</h3>
			<ul>
				<li><a href="http://ireply.cn" title="大学问">大学问</a></li>
				<li><a href="http://www.zhihu.com" title="知乎">知乎</a></li>
				<li><a href="http://weibo.com" title="新浪微博">微博</a></li>
				<li><a href="https://baidu.com" title="百度">百度</a></li>
			</ul>
		</div>
		<!--图片-->
		<!--  <div class="zg-clear zh-shameimaru-7f8cdd12a">
            <a class="shameimaru-link" target="_blank" rel="nofollow" href="/shameimaru/click?id=7f8cdd12a&amp;location=home_up"></a>
            <a class="shameimaru-close z-ico-shameimaru-close" data-tip="s$b$不再显示" rel="nofollow"></a>
        </div> -->
		<div class="widget">
		<iframe width="100%" height="100" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=2&ptype=1&speed=0&skin=1&isTitle=1&noborder=1&isWeibo=0&isFans=0&uid=2477183313&verifier=b001128f&dpc=1"></iframe>
		</div>
		<div id="zh-footer" class="zh-footer">
            <div class="zg-wrap clearfix">
           <ul>
                <li><a href="javascript:;" id="js-feedback-button">建议反馈</a></li>
                <li><a href="mailto:18238836800@126.com">商务合作</a></li>
            </ul>
            <span class="copy">© 2015   |  鲁ICP备15006514号-1</span>
            </div>
        </div>
	</div>
   </div>
     </div>
	 
</div>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?51c16960f5cd757401bfc6eb6bbd9a54";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<div id="goTop"><img src="img/gotop.png"></div>
<script type="text/javascript"  src="js/gotop.js"></script>
</body>
</html>
