<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Journey 西塘 - My lifebook</title>
    <meta name="keywords" content="梦伊人,mengjia,盗墓笔记,旅游,游记,lifebook,个人博客,前端学习">
    <meta name="description" content="lifebook-生活书，记录生活点滴">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../app/styles/bootstrap.min.css">
    <link rel="stylesheet" href="../app/styles/golbal.css">
</head>
<body>
<!-- 顶部导航-->
<nav class="navbar navbar-default">
    <div class="container  col-lg-10 col-xs-12 col-lg-offset-1">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header  ">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="../index.html">LIFEBOOK</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ><a href="#"><span class="glyphicon glyphicon-home "></span>HOME <span class="sr-only">(current)</span></a></li>
                <li><a href="../art.html"><span class="glyphicon glyphicon-music  "></span>ENT</a></li>
                <li class="active"><a href="../travel.html"><span class="glyphicon glyphicon-camera "></span>TRAVEL</a></li>
                <li><a href="../zaji.html"><span class="glyphicon glyphicon-edit"></span>WRITE</a></li>
                <li><a href="../novel.html"><span class="glyphicon glyphicon-book "></span>BOOK</a></li>
                <li><a href="../example.html"><span class="glyphicon glyphicon-list-alt "></span>ITEM</a></li>
                <li><a href="../about.html"><span class="glyphicon glyphicon-user "></span>ME</a></li>

            </ul>
            <!--搜索框search-->

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<!-- 正式内容  -->
<div class="container col-lg-11 col-xs-12 col-sm-12 col-md-12 col-lg-offset-1 ">

    <div class="row row-left col-lg-7 col-xs-12 col-sm-7 col-md-7">
        <p class="row-header"><a href="../index.html">首页&nbsp;</a><span class="glyphicon glyphicon-chevron-right"></span><a href="../travel.html">游记&nbsp;</a> <span class="glyphicon glyphicon-chevron-right"></span>Journey 西塘</p>
        <div class="media col-lg-12 col-xs-12 col-sm-12 col-md-12 pull-left" >
            <h4 class="media-heading"><a href="#">Journey 西塘</a></h4>
            <div class="post-meta">
                <ul class="list-group list-inline ">
                    <li class="list-group-item">2015/01/01</li>
                    <li class="list-group-item"><a href="../index.html">游记</a></li>
                    <li class="list-group-item"><span class="badge">4</span>Views</li>
                    <li class="list-group-item"><span class="badge">4</span>Replies</li>
                    <li class="list-group-item"><span class="badge success">4</span><span class="glyphicon glyphicon-thumbs-up"></span></li>
                </ul>
            </div>
            <div class="media-body  ">

                <p ><small>西塘古镇隶属浙江嘉善县，位于江浙沪三省交界处。古名斜塘，平川，为江南六大古镇之一。
                    东距上海90公里，西距杭州110公里，北距苏州85公里，南距嘉善县城9公里 。 西塘历史悠久，人文资源丰富，自然风景优美，是古代吴越文化的发祥地之一。
                    早在春秋战国时期就是吴越两国的相交之地，故有“吴根越角”和“越角人家”之称。</small>
                </p>
                <p><img src="../app/images/xitang/xitang01.jpg" class="img-responsive " alt="Journey 西塘"  ></p>
                <p><img src="../app/images/xitang/xitang02.jpg" class="img-responsive " alt="Journey 西塘"  ></p>
                <p><img src="../app/images/xitang/xitang03.jpg" class="img-responsive " alt="Journey 西塘"  ></p>
                <p><img src="../app/images/xitang/xitang05.jpg" class="img-responsive " alt="Journey 西塘"  ></p>
                <p><img src="../app/images/xitang/xitang06.jpg" class="img-responsive " alt="Journey 西塘"  ></p>
                <p><img src="../app/images/xitang/xitang07.jpg" class="img-responsive " alt="Journey 西塘"  ></p>


            </div>
        </div>
    </div>
    <!--翻页-->
    <!-- <nav>
        <ul class="pager ">
            <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Pre</a></li>
            <li class="next"><a href="#">Next <span aria-hidden="true">&rarr;</span></a></li>
        </ul>
    </nav>
    -->

    <div class="row row-right col-lg-3 col-lg-offset-1 col-xs-12 col-sm-4 col-md-3">
        <div class="row-right-con">
            <h4 class="row-header1">热门文章 </h4>
            <div class="post-meta">
                <ul class="list-group  ">
                    <li class="list-group-item"><h5><a href="ml">Journey 紫禁城</a></h5> </li>
                    <ul class="list-group list-inline ">
                        <li class="list-group-item">2015/01/01</li>
                        <li class="list-group-item"><span class="badge">4</span>Views</li>
                        <li class="list-group-item"><span class="badge">4</span>Replies</li>
                        <li class="list-group-item"><span class="badge success">4</span><span class="glyphicon glyphicon-thumbs-up"></span></li>
                    </ul>
                </ul>
            </div>
            <div class="post-meta">
                <ul class="list-group  ">
                    <li class="list-group-item"><h5><a href="../story/story01.html">有机会，我会把我的故事讲给你听</a></h5> </li>
                    <ul class="list-group list-inline ">
                        <li class="list-group-item">2015/04/01</li>
                        <li class="list-group-item"><span class="badge">4</span>Views</li>
                        <li class="list-group-item"><span class="badge">4</span>Replies</li>
                        <li class="list-group-item"><span class="badge success">4</span><span class="glyphicon glyphicon-thumbs-up"></span></li>
                    </ul>
                </ul>
            </div>
            <h4 class="row-header1">推荐链接 </h4>
            <div class="post-meta">
                <ul class="list-group  list-inline">
                    <li class="list-group-item"><h5><a href="http://ireply.cn"title="大学问-知乎校园问答精选|大学生问答社区">大学问</a></h5> </li>
                    <li class="list-group-item"><h5><a href="http://zhihu.com"title="知乎- 与世界分享你的知识、经验和见解">知乎</a></h5> </li>
                    <li class="list-group-item"><h5><a href="http://weibo.com/321009091"title="新浪微博-小小梦工场">微博</a></h5> </li>
                    <li class="list-group-item"><h5><a href="http://seo.chinaz.com/"title="SEO综合查询-站长工具">站长之家</a></h5> </li>
                </ul>
            </div>
            <div class="widget">
                <iframe width="100%" height="100" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=2&ptype=1&speed=0&skin=1&isTitle=1&noborder=1&isWeibo=0&isFans=0&uid=2477183313&verifier=b001128f&dpc=1"></iframe>
            </div>
            <h4 class="row-header1"></h4>
            <div class="post-meta">
                <ul class="list-inline list-group ">
                    <li class="list-group-item"><h5><a href="javascript:;" id="js-feedback-button">建议反馈</a></h5></li>
                    <li class="list-group-item"><h5><a href="mailto:18238836800@126.com">商务合作</a></h5></li>
                </ul>
            </div>
        </div>


        <div class="footer">&copy; 2015 | 鲁ICP备15006514号-1</div>
    </div>

</div>
<script src="../js/jquery-2.1.4.min.js"></script>
<script src="../js/bootstrap.js"></script>
</body>
</html>