<div class="container">
    <div class="col-md-offset-1 col-md-10 col-xs-12 clearfix" style="padding-top: 60px">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    我去过的地方
                    <span class="pull-right">
                        <a href="#/add" target="_blank"><i class="glyphicon glyphicon-plus" style="margin-right: 5px"></i>添加新的足迹</a>
                    </span>
                </h4>
            </div>
            <div class="row">
                <div class="col-md-8 form-group">
                    <form role="form">
                        <div class="col-md-4 form-group" style="margin-top: 10px;margin-bottom: 0">
                            <!--<label for="order" class="col-md-2 control-label">排序</label>-->
                            <select class="col-md-10 form-control" id="order" ng-model="orderProp" >
                                <option value="">原始</option>
                                <option value="tag">标签</option>
                                <option value="id">编号</option>
                                <option value="address">地址</option>
                            </select>
                        </div>
                    </form>

                </div>
                <div class="col-md-4">
                    <div style="padding: 10px 10px 0;">
                        <form class="bs-example bs-example-form" role="form">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                                <input type="text" class="form-control"  ng-model="query" placeholder="搜索">
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <div class="panel-body">
                <table class="table table-striped table-bordered">
                    <tr ng-repeat="poi in poi_data | orderBy:orderProp | filter:query">
                        <td>编号</td>
                        <td>{{poi.id}}</td>
                        <td>{{poi.tag}}</td>
                        <td><a href="#/{{poi.tag}}/{{poi.id}}" target="_blank">{{poi.name}}</a></td>
                        <td>地址</td>
                        <td>{{poi.address}}</td>
                        <td><a href="#/{{poi.tag}}/{{poi.id}}"  ng-click="poi_edit()">编辑</a></td>
                    </tr>
                </table>
            </div>
            <div class="panel-footer">
                <a href="#/">返回首页</a>
            </div>
        </div>
    </div>

</div>